@import "src/styles/rem";
@import "src/styles/variables";

.wrapper {
  height: 100%;
  position: absolute;
  top: 0;
  padding: rem(100px 30px);
  min-height: 800px;
}

.title {
  color: black;
}

.paper {
  padding: rem(32px);
  min-width: rem(600px);
  width: 40%;

  &.mobile {
    min-width: rem(400px);
    width: 100%;
    margin-top: rem(40px);
  }
}

.paper:after {
  background-color: #333333;
}

.policiesLink {
  color: $primary-white;
  margin: rem(24px 0 0 0);

  .text {
    line-height: rem(24px);
  }

  a {
    color: inherit;
  }
}

.buttonsGroup {
  margin-top: rem(100px);
  z-index: 999;

  .button {
      max-width: rem(160px);
      height: rem(46px);
      width: 100%;
  }

  .actionButton {
    background-color: #333333;
    width: rem(46px);
    height: rem(46px);
    border-radius: rem(12px);
    padding: rem(6px);
  }
}

.label {
  margin: rem(24px 0 4px);
  &:first-child {
    margin: rem(0 0 4px);
  }
}

.eventPaper {
  margin-top: rem(60px);
  min-width: rem(500px);
  width: 40%;
  padding: 30px;

  &.mobile {
    min-width: rem(400px);
    width: 100%;
  }
}

.eventPaper:after {
  background-color: #333333;
}

.eventIconWrapper {
  color: white;
  text-align: center;
}

.eventIcon {
  font-size: 35px;
}

.eventBtn {
  margin-top: 16px;
  padding: 4px 8px;
  width: 120px;
  background: transparent;
  border: 2px solid #EE6F32;
}
