@import "../../styles/rem";

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: rem(20px);
}

.main {
  flex: 1;
  border: rem(0px) solid transparent;
  position: absolute;
  width: 100%;
  height: 100%;
}

.bgImage {
  position: fixed;
  height: 100%;
  width: 100%;
  background-image: url("/images/clouds_background.png");
  background-repeat: repeat;
  background-size: cover;
  z-index: -1;
}

.contentWrapper {
  width: 100%;
  height: 100%;
}

.link {
  cursor: pointer;
}