@import "../../styles/variables";
@import "../../styles/rem";

.socialsWrapper {
  position: absolute;
  z-index: 10;
  right: rem(20px);
  top: rem(16px);
  width: auto;
}

.socialBtn {
  display: flex;
  height: rem(34px);
  width: rem(34px);
  padding: rem(5px);
  background: $primary-white;
  border: none;
  border-radius: rem(6px);
}

.editIcon {
  color: #0F0F10;
  height: rem(34px);
  width: rem(34px);
  background: $primary-white;
  border: none;
  border-radius: rem(6px);
}
