@import "../../../styles/rem";

.wrapper {
  position: relative;
  padding: rem(40px);
  width: rem(472px);
  min-height: rem(262px);
  display: flex;

  transition: min-height 200ms linear;

  &.replace {
    min-height: rem(508px);
  }
}

.title {
  word-break: break-word;
  white-space: pre-wrap;
}

.buttons {
  margin: rem(auto 0 0 0);
}

.text {
  margin: rem(8px 0 40px 0);
  word-break: break-word;
  white-space: pre-wrap;
}

.info {
  position: absolute;
  top: 0;
  left: 0;
}

.templates {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.templatesInnerWrapper {
  width: 100%;
  justify-items: center;
}

.templatesOuterWrapper {
  margin: rem(40px 0 0 0);
}