@import "../../styles/rem";
@import "../../styles/variables";

.menu {
  width: rem(127px);
  border-radius: rem(6px);
  .item {
    height: rem(34px);
    padding: rem(6px 8px);

    &.disabled {
      cursor: default;
      color: $normal-gray-scale;
    }
  }
}