/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJbecmNE.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FF;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJnecmNE.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJfecg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  width: 400px;
  height: fit-content;
  padding: 15px;
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}
.container {
  border: 2px rgb(255, 136, 78) solid;
  border-radius: 15px;
  padding: 40px 30px 50px;
}
.title {
  margin: 0px;
  padding: 0 60px;
  font-size: 1.5rem;
  line-height: 2.25rem;
  font-weight: 600;
  color: rgb(15, 15, 16);
  text-align: center;
  margin-bottom:30px;
}
#selectRuume,
#scheduleMeeting,
#signinMeeting,
#enterMeeting {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  outline: 0px;
  border: 0px;
  margin: 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  /* font-weight: 500; */
  font-size: 1rem;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  min-width: 64px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border: 1px solid rgb(255, 136, 78);
  border-radius: 10px;
  text-transform: initial;
  padding: 17px 20px;
  /* padding: 10px 14px; */
  width: 100%;
  background: rgb(255, 136, 78);
  /* margin-bottom: 30px; */
  color: white;
}

#selectRuume {
  background-color: #9243B7;
  border: 1px solid #9243B7;
}
#selectRuume:hover {
  background-color: #7f38a1;
  border-color: #7f38a1;
}

#signinMeeting {
  border: none;
  margin-bottom: 0;
}
#enterMeeting {
  border: 1px solid rgb(255, 136, 78);
  background-color: white;
  color:  rgb(255, 136, 78);
}
#scheduleMeeting:hover,
#signinMeeting:hover {
  background: rgb(238, 111, 50);
  border-color: rgb(238, 111, 50);
}
#enterMeeting:hover {
  background: rgba(238, 111, 50, 0.3);
}
.btn-span {
  margin: 0px;
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: Poppins, sans-serif;
  /* font-weight: 400; */
}

.google-login {
  cursor: pointer;
    transition: box-shadow .2s linear;
    padding: 0.5rem 1rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1rem;
    max-height: 3.5rem;
    box-sizing: border-box;
    display: flex;
    flex-flow: wrap;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background: rgb(255, 255, 255);
    border: 1px solid rgba(189, 200, 211, 0.4);
    box-shadow: rgba(15, 15, 16, 0.1) 0px 12px 24px -4px;
    border-radius: 10px;
}

.google-login:hover {
  box-shadow: rgba(15, 15, 16, 0.24) 0px 12px 24px -4px;
}

.google-login-text {
  margin: 0;
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: "Poppins",sans-serif;
    font-weight: 400;
}

.google-login-icon {
  box-sizing: border-box; display: inline-block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative; max-width: 100%;
}

.google-login-icon-inner {
  box-sizing: border-box; display: block; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; max-width: 100%;
}

.or-div {
  box-sizing: border-box;
    display: flex;
    flex-flow: wrap;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    margin-top: 10px;
}

.or-span {
    margin: 0;
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: "Poppins",sans-serif;
    font-weight: 400;
    color: #bdc8d3;
}

.login-form {
  margin: 6px 0 0;
}

.login-form-container {
  box-sizing: border-box;
    display: flex;
    flex-flow: wrap;
    width: 100%;
}

.input-container {
  margin: 0 0 1.5rem;
  width: 100%;
  box-sizing: border-box;
}

.input-inner-container {
  background-color: rgb(255, 255, 255);
    color: rgb(15, 15, 16);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 16px;
    box-shadow: rgba(15, 15, 16, 0.1) 0px 12px 24px -4px;
    --vh: 0px;
}

.input-field {
  display: inline-flex;
    flex-direction: column;
    position: relative;
    min-width: 0px;
    padding: 0px;
    margin: 0px;
    border: 0px;
    vertical-align: top;
    width: 100%;
}

.input-label {
  color: rgb(189, 200, 211);
    font-size: 1rem;
    line-height: 1.4375em;
    font-family: Poppins, sans-serif;
    font-weight: 400;
    padding: 0px;
    display: block;
    transform-origin: left top;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(133% - 24px);
    position: absolute;
    left: 0px;
    top: 0px;
    transform: translate(14px, -9px) scale(0.75);
    transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms, transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms, max-width 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    z-index: 1;
    pointer-events: auto;
    user-select: none;
    background-color: rgb(255, 255, 255);
    color: rgb(15, 15, 16);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 16px;
    box-shadow: rgba(15, 15, 16, 0.1) 0px 12px 24px -4px;
}

.main-input-field {
  font-size: 1rem;
    line-height: 1.4375em;
    font-family: Poppins, sans-serif;
    font-weight: 400;
    color: rgb(15, 15, 16);
    box-sizing: border-box;
    cursor: text;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    /* padding-right: 14px; */
    border-radius: 10px;
    background: rgb(244, 246, 249);
    border: 1px solid rgba(189, 200, 211, 0.4);

  }

.custom-input{
  border-radius: inherit;
  animation-duration: 5000s;
    animation-name: mui-auto-fill;
    font: inherit;
    letter-spacing: inherit;
    color: currentcolor;
    border: 0px;
    box-sizing: content-box;
    background: none;
    height: 1.4375em;
    margin: 0px;
    -webkit-tap-highlight-color: transparent;
    display: block;
    min-width: 0px;
    width: 100%;
    animation-name: mui-auto-fill-cancel;
    animation-duration: 10ms;
    padding: 14px 0px 14px 14px;
}

.custom-fieldset {
  border-color: rgb(15, 15, 16);
  text-align: left;
    position: absolute;
    inset: -5px 0px 0px;
    margin: 0px;
    padding: 0px 8px;
    pointer-events: none;
    border-radius: inherit;
    border-style: solid;
    overflow: hidden;
    min-width: 0%;
    border-width: 1px;
    border-color: rgba(189, 200, 211, 0.6);
    font-size: 1rem;
    line-height: 1.4375em;
    font-family: Poppins, sans-serif;
    font-weight: 400;
    color: rgb(15, 15, 16);
    box-sizing: border-box;
    cursor: text;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    padding-right: 14px;
    border-radius: 10px;

}

.forgot-password {
  margin-top: -10px;
  cursor: pointer;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  float: right;
  color: #FF884E;
}
 .register {
  margin: 0.5rem 0 0;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: #bdc8d3;
}
.sign-in-first {
  text-align: center;
  color: #C9C9C9; 
  font-size: 0.8785rem;
  margin-bottom: -10px;
}


/*           */
/* Calendar  */
/*           */

.float-right{
  float: right;
}

dropdown label{
  color: #B2B2B2;
  border-radius: 0 5px 0 0; 
  position: relative;
  z-index: 100;
}
dropdown input{
  display: none;
}
dropdown input ~ ul{
  position: relative;
  visibility: hidden;
  max-height: 0px;
  overflow: hidden;
  opacity: 0;
  top: -80px;
  z-index: 1;
}

dropdown input:checked ~ ul{
  visibility: visible;
  overflow: visible;
  opacity: 1;
  top: -25px;
}

.animate{
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s;  
  backface-visibility:hidden;
  -webkit-backface-visibility:hidden; /* Chrome and Safari */
  -moz-backface-visibility:hidden; /* Firefox */
  -ms-backface-visibility:hidden; /* Internet Explorer */
}

ul {
	list-style-type: none;
}
.left {
  float: left;
}
.right {
  float: right;
}
.monthname {
  width: 18em;
}
.pointer {
  cursor: pointer;
}
.group {
  padding: 0;
}
.calendar-header, .calendar-footer {
  display: flex;
  width: 254px;
  justify-content: center;
}
.calendar-footer{
  position: absolute;
  bottom: 0;
  padding: 10px 0;
}

.calendar {
  position: relative;
	min-height: 26em;
  padding: 30px 40px 10px;
  margin-top: -15px;
  border: 1px solid rgb(238, 111, 50);
  border-top: none;
  border-bottom: none;
  font-size: 0.75rem;
}
.calendar li {
	float: left;
	width: -webkit-calc(100%/7);
	text-align: center;
	padding: .25em 0;
	cursor: pointer;
	/* border-bottom: 1px solid #444; */
}
.calendar li:hover, .calendar li.red {
	color: red;
}
.calendar li.active {
  background-color: rgba(255, 136, 78, 0.9);
  border-radius: 6px;
  transition: 0.5s ease;
}
.calendar li:nth-child(-n+7) {
	color: #666;
}
.center {
	text-align: center;
}
ul.animate{
  padding: 0;
}
.confirmBtn {
  background-color: #807F7F;
  color: white;
  border-radius: 0 0 10px 10px;
  border: 1px solid rgb(238, 111, 50);
  border-top: none;
  padding: 7px;
  text-align: center;
  cursor: pointer;
}
.confirmBtn:hover {
  background-color: #646464;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.chevron:before, .short-chevron:before {
  border-style: solid;
	border-width: 0.25em 0.25em 0 0;
	content: '';
	display: inline-block;
	height: 0.45em;
	left: 0.15em;
	position: relative;
	vertical-align: top;
	width: 0.45em;
  transition: 0.5s ease;
  top: 0;
	transform: rotate(135deg);
  transition: 0.5s ease;
}

.chevron, .short-chevron {
  position: absolute;
  top: 38%;
  right: 10%;
}

.short-chevron:before {
  top: -0.1rem;
  color: black;
}
.short-chevron {
  right: 15%;
}

input:checked ~ label .chevron:before {
	top: 0.15em;
  transform: rotate(-45deg);
}

.open .short-chevron:before {
  top: 0.15em;
  transform: rotate(-45deg);
}



.custom-select-wrapper {
  position: relative;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.custom-select {
  position: relative;
  display: flex;
  flex-direction: column;
}

.custom-select__trigger {
  position: relative;
  display: flex;
  flex-direction: column;
  border: none;
  margin: 0 2px;
  padding: 3px 20px 3px 5px;
  border-radius: 5px;
  background-color: #D9D9D9;
  font-size: 0.7rem;
  user-select: none;
}

.custom-options {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  right: 0;
  border-radius: 5px;
  background-color: #D9D9D9;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 2;
  margin: 5px;
}

.custom-select.open .custom-options {
  opacity: 1;
  visibility: visible;
  display: block;
}

.custom-option {
  position: relative;
  display: block;
  color: #333;
  cursor: pointer;
  transition: all 0.3s;
  margin: 0 5px;
  padding: 2px 6px;
  border-radius: 5px;
  background-color: #D9D9D9;
  font-size: 0.7rem;
}

.custom-option:hover {
  cursor: pointer;
  background-color: rgba(255, 136, 78, 0.5);
}

.room-list {
  position: relative;
  padding: 40px 20px 0 ;
  margin-top: -15px;
  border: 1px solid rgb(238, 111, 50);
  border-radius: 0 0 10px 10px;
  font-size: 0.75rem;
  display: flex;
  flex-flow: row wrap;
}

.badge {
  margin: 0 5px;
  padding: 3px 20px 3px 6px;
  border-radius: 5px;
  background-color: #D9D9D9;
  font-size: 0.7rem;
  user-select: none; 
  margin-bottom: 1rem;
  cursor: pointer;
}

.badge:hover {
  background-color: rgba(255, 136, 78, 0.5);
  transition: 0.3s ease; 
}
.badge:active {
 background-color: rgba(255, 136, 78, 1);
}
.badge.active {
 background-color: rgba(255, 136, 78, 0.9);
}

