body {
  width: 370px;
  /* height: 300px; */
  padding: 20px;
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.container {
  border: 2px rgb(255, 136, 78) solid;
  border-radius: 15px;
  padding: 40px 60px 60px;
}
.title {
  margin: 0px;
  font-size: 1.5rem;
  line-height: 2.25rem;
  font-weight: 600;
  color: rgb(15, 15, 16);
  text-align: center;
  margin-bottom: 50px;
}
#scheduleMeeting,
#signinMeeting,
#enterMeeting {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  outline: 0px;
  border: 0px;
  margin: 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  min-width: 64px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border: 2px solid rgb(255, 136, 78);
  border-radius: 10px;
  text-transform: initial;
  padding: 17px 20px;
  width: 100%;
  background: rgb(255, 136, 78);
  margin-bottom: 30px;
}
#enterMeeting {
  border: 2px solid rgb(255, 136, 78);
  background-color: white;
}
#scheduleMeeting:hover,
#signinMeeting:hover {
  background: rgb(238, 111, 50);
}
#enterMeeting:hover {
  background: rgba(238, 111, 50, 0.3);
}
.btn-span {
  margin: 0px;
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: Poppins, sans-serif;
  font-weight: 400;
}
