@import "../../../styles/rem";
@import "../../../styles/variables";
@import "../../../styles/mixins";

.label {
    margin: 0;
    text-transform: capitalize;
  
    &.active {
      color: $primary-orange;
    }
  
    // &:last-child {
    //   margin-left: 25px;
    // }
  }
  
  .icon {
    fill: none;
  }

  .roleItem {
    position: relative;
  }

  .tooltip {
    position: absolute;
    right: -14px;
    top: 8px;
    cursor: pointer;
  }

  .popperTooltip {
    z-index: 9999;
  }

  .containerTooltip {
    height: auto;
    white-space: inherit;
  }
  
  .block {
    opacity: 0.4;
    pointer-events: none;
}

.exclamationMark {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: black;
  color: white;
  font-size: 10px;
  text-align: center;
  line-height: 14px;
}