@import "../../../styles/rem";
@import "../../../styles/variables";
@import "../../../styles/mixins";

.label {
    margin: 0;
    text-transform: capitalize;
  
    &.active {
      color: $primary-orange;
    }
  
    &:last-child {
      margin-left: 25px;
    }
  }
  
  .icon {
    fill: none;
  }