@import "../../../styles/rem";
@import "../../../styles/variables";
@import "../../../styles/mixins";

.label {
  position: relative;
  margin: 0;
  text-transform: capitalize;
}

.roleItem {
  position: relative;
}

.tooltip {
  position: absolute;
  right: -14px;
  top: 8px;
  cursor: pointer;
}

.popperTooltip {
  z-index: 9999;
}

.containerTooltip {
  height: auto;
  white-space: inherit;
}

.block {
  opacity: 0.4;
  pointer-events: none;
}

.exclamationMark {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: black;
  color: white;
  font-size: 10px;
  text-align: center;
  line-height: 14px;
}

.roleWrapper {
  padding-right: 24px;
  border: 1px solid transparent;
  margin-bottom: 20px;

  &.active {
    border: 1px solid black;
    border-radius: 8px;
  }
}

.radioBtn {
  color: black;
}