@import "../../../styles/variables";
@import "../../../styles/rem";

.panelWrapper {
  position: absolute;
  bottom: rem(140px);
  left: 50%;
  z-index: 1000;
  width: auto;

  &.mobile {
    top: rem(20px);
    right: rem(20px);
    left: unset;
    transform: unset;
  }
}

.userAvatar {
  border: 1px solid $primary-white;

  &:not(:first-child) {
    margin: rem(0 0 0 -15px);
  }
}

.noteEmojiListScrollBar {
  max-height: 500px;
  padding-right: 20px;
  padding-left: 10px;
}

.editRuumeScrollBar {
  max-height: 745px;
  padding-right: 20px;
  padding-left: 10px;
}

.profileSettingScrollBar {
  max-height: 600px;
  padding-right: 20px;
  padding-left: 10px;
}

.controlPanelWrapper {
  position: relative;

  .actionButton {
    position: relative;
    background: transparent;
    color: $primary-white;
    border: none;
    width: rem(44px);
    height: rem(44px);
    border-radius: rem(6px);

    &.active {
      background: rgba($primary-white, 0.25);
    }

    &.withAction {
      &:hover {
        background: rgba($primary-white, 0.25);
      }
    }

    &.mobile {
      width: rem(32px);
      height: rem(32px);
    }

    &.newRequests {
      background: rgba($primary-orange, 0.1);

      &:hover {
        background: rgba($primary-orange, 0.25);
      }

      &:after {
        content: "";
        width: rem(13px);
        height: rem(13px);

        border-radius: 50%;

        background: $primary-orange;

        position: absolute;
        top: -1px;
        right: -1px;
      }
    }
  }
}

.commonOpenPanel {
  position: absolute;
  max-width: rem(350px);
  min-width: rem(310px);
  padding: rem(14px 16px);
  opacity: 0;
  left: 15px;
  bottom: 0px;

  &.mobile {
    left: 0%;
    width: 100%;
    min-width: 100%;
  }

  &.landscape {
    width: 500px;
    min-width: 500px;
    max-width: 500px;
    right: 40px;
  }
}

.profilePanel {
  position: absolute;
  max-width: rem(350px);
  min-width: rem(310px);
  padding: rem(14px 5px 14px 16px);
  opacity: 0;
  right: rem(260px);
  bottom: rem(0px);

  &.mobile {
    left: 0%;
    width: 100%;
    min-width: 100%;
  }

  &.landscape {
    width: 500px;
    min-width: 500px;
    max-width: 500px;
    right: 40px;
  }
}

.noteEmojiListPanel {
  position: absolute;
  max-width: rem(350px);
  min-width: rem(310px);
  padding: rem(14px 16px);
  opacity: 0;
  right: 0px;
  bottom: 0px;

  &.mobile {
    left: 0%;
    width: 100%;
    min-width: 100%;
  }

  &.landscape {
    width: 500px;
    min-width: 500px;
    max-width: 500px;
    right: 40px;
  }
}

.emojiPanel {
  position: absolute;
  max-width: rem(350px);
  min-width: rem(310px);
  padding: rem(14px 16px);
  opacity: 0;
  right: -180px;
  bottom: 0px;

  &.mobile {
    left: 0%;
    width: 100%;
    min-width: 100%;
  }

  &.landscape {
    width: 500px;
    min-width: 500px;
    max-width: 500px;
    right: 40px;
  }
}

.editRuumePanel {
  position: absolute;
  max-width: rem(425px);
  min-width: rem(310px);
  padding: rem(14px 5px 14px 16px);
  opacity: 0;
  left: rem(260px);
  bottom: rem(0px);
  z-index: 0;

  &.mobile {
    left: 0%;
    width: 100%;
    min-width: 100%;
  }

  &.landscape {
    width: 500px;
    min-width: 500px;
    max-width: 500px;
    right: 40px;
  }
}

.monetizationPanel {
  position: absolute;
  max-width: rem(350px);
  min-width: rem(310px);
  padding: rem(14px 16px);
  opacity: 0;
  right: 20px;
  bottom: 30px;

  &.mobile {
    left: 0%;
    width: 100%;
    min-width: 100%;
  }

  &.landscape {
    width: 51px;
    min-width: 515px;
    max-width: 515px;
    right: 40px;
    bottom: 0;
  }
}

.scheduleOpenPanelWrapper {
  opacity: 0;
}

.scheduleOpenPanel {
  position: absolute;
  max-width: rem(392px);
  min-width: rem(372px);
  padding: rem(20px);
  left: 150px;
  bottom: 0px;

  &.mobile {
    left: 0%;
    width: 100%;
    min-width: 100%;
  }
}

.attendeesList {
  position: absolute;
  max-width: rem(392px);
  min-width: rem(372px);
  padding: rem(20px);
  left: 150px;
  bottom: 275px;

  &.mobile {
    left: 0%;
    width: 100%;
    min-width: 100%;
  }
}

.recordingRequestTitle {
  margin-bottom: 24px;
}

.recordingRequestList {
  position: absolute;
  width: rem(360px);
  padding: rem(20px);
  right: 70px;
  bottom: 30px;
  color: white;
  z-index: 99999;

  &.mobile {
    left: 0%;
    width: 100%;
    min-width: 100%;
  }
}

.recordingRequestHandleBtn {
  width: rem(150px);
  padding: rem(6px);
  color: white;
}

.mobileControlPanelWrapper {
  padding: rem(6px 12px);
}

.mobilePanelsWrapper {
  position: fixed;
  inset: 0;
  padding: rem(20px);
  justify-content: center;
  background: rgba($primary-black, 0.6);
  backdrop-filter: blur(28px);

  .closeIcon {
    position: absolute;
    top: 0;
    right: 0;
    color: rgba($primary-white, 0.6);
  }
}

.profileAvatar {
  margin: rem(0 8px 0 0);
  flex: 0 0 auto;
}

.copyBtn {
  height: rem(30px);
  width: rem(30px);
  border-radius: 50%;
  color: white;
  cursor: pointer;
}

.urlTypography {
  width: 75%;
  overflow-x: hidden;
}

.videosScroll {
  max-height: 375px;
  padding-right: 20px;
}