@import "../../styles/variables";
@import "../../styles/rem";

.wrapper {
  padding-top: rem(100px);
}

.analyticsWrapper {
  margin: rem(84px auto 0 auto);
  width: rem(840px);
  max-width: 100%;
}

.tabs {
  margin-top: rem(50px);
}

.chip {
  padding: rem(25px 40px);
  box-shadow: none;
  border: 2px solid #FF884E;
  border-radius: 30px;

  &:hover {
    background-color: #FF884E;
    color: white;
  }
}

.fadeWrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: rem(60px);
  margin-bottom: rem(60px);
}

.statisticBlock {
  padding: rem(30px);
  width: rem(400px);
  height: fit-content;
  display: flex;
  flex-direction: column;
  background-color: rgba($primary-black, 0.8);
  color: white;
}

.qaAnalyticsBlock {
  padding: rem(30px);
  width: rem(640px);
  height: fit-content;
  display: flex;
  flex-direction: column;
  background-color: rgba($primary-black, 0.8);
  color: white;
}

.content {
  width: 100%;
  padding: rem(53px 80px);
  margin: rem(56px 0 100px 0);
}

.termsText {
  white-space: pre-wrap;
}

.chipsContainer {
  margin: rem(28px 0 0);

  .emptyItem {
    max-width: rem(44px);
    width: 100%;
    flex: 1;
  }
}

.backButton {
  width: rem(44px);
  height: rem(44px);
  background: $primary-white;
  border: 1px solid rgba($normal-gray-scale, 0.4);
  box-sizing: border-box;
  box-shadow: rem(0 12px 24px -4px) rgba($primary-black, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.innerTabs {
  width: 40%;
  min-width: 600px;
}