.background {
  position: absolute;
  width: 100%;
  height: 100%;
  
  .player {
    width: 100%;
    height: 100%;
    position: absolute;
    background: none;
  }

  .image {
    width: 100%;
    height: 100%;
    position: absolute;
    background: none;
    object-fit: cover;
  }
}