@import "../../../styles/variables";
@import "../../../styles/rem";

.cardField {
  width: rem(352px);
  flex: 1 1 100%;

  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
}
.borderFieldBlack{
  border-color: #ccc
}

.dateField {
  flex: 0 1 168px;
}

.cvcField {
  flex: 0 1 168px;
}

.button {
  margin: rem(20px 0 0 0);

  &.mobile {
    margin: rem(8px 0 0 0);
  }
}

.paddingButton {
  padding: 10px;
  border-radius: 8px;
}

.cardPaywallField {
  height: 42px;

  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
}

.datePaywallField {
  height: 42px;
}

.cvcPaywallField {
  height: 42px;
}

.textField {
  font-size: 12px;
  color: $primary-white;
}