@import "../../../styles/variables";
@import "../../../styles/rem";

.cardField {
  width: rem(352px);
  flex: 1 1 100%;

  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
}

.dateField {
  flex: 0 1 168px;
}

.cvcField {
  flex: 0 1 168px;
}

.button {
  margin: rem(20px 0 0 0);
}