@import "../../../styles/rem";
@import "../../../styles/variables";

.wrapperForm {
  margin-top: 10px;
}

.monetization {
  background: transparent;
  border-radius: rem(10px);
  color: $primary-white;

  .labelWrapper {
    margin: rem(0 0 20px 0);
  }

  .switcher {
    max-width: rem(112px);
    width: 82px;
    height: 28px;
    border-radius: 4px;

    svg {
      width: 18px;
    }

    input {
      font-size: 12px;
    }
  }

  .amountInput {
    position: relative;
    // height: 50px;
    padding: rem(8px);

    &:after {
      content: "";
      position: absolute;
      inset: 0;
      pointer-events: none;
      border: 1px solid rgba($normal-gray-scale, 0.6);
      border-radius: 8px;
    }

    .inputWrapper {
      padding: rem(0 4px);
      color: $primary-white;
      font-size: 13px;

      .input::-webkit-outer-spin-button,
      .input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      /* Firefox */
      .input[type=number] {
        -moz-appearance: textfield;
      }
    }
  }
}

.button {
  margin: 0;
  padding: 10px;
  border-radius: 8px;

  &.animate {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: rem(1000px);
  }
}


@keyframes shake {

  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.error {
  position: relative;
}

.tooltip {

  margin-bottom: rem(6px) !important;

  .tooltipContent {
    color: #fff;
    padding: rem(10px 16px);
  }
}

.deviceButton {
  width: rem(35px);
  height: rem(35px);
  border-radius: 8px;

  &.inactive {
    color: rgba($primary-white, 0.25);
  }

  display: flex;
  justify-content: center;
  align-items: center;

  button {
    width: 100%;
    height: 100%;
  }
}

.commonOpenPanel {
  padding: rem(20px);
}

.popoverMonetization {
  background: transparent;
}



.confirmButtonsWrapper {
  margin: rem(40px 0 0 0);

  .baseBtn {
    width: rem(212px);
    height: rem(56px);
  }

  .buttonSubmit {
    width: rem(212px);
    height: rem(56px);
  }
}

.dialogTitle {
  font-size: rem(20px);
  font-weight: 600;
  margin: rem(40px 0 0 0);
}

.switcherWrapper {
  height: 40px;
}

.switchItem {
  span {
    font-size: 12px;
  }
}

.menuItem {
  padding: 6px;
}

.tooltipSwitch {
  display: flex;
  height: max-content;
  border-radius: 16px;
}

.tooltipList {
  width: 100%;
  line-height: 15px;
  margin: 4px;
}

.tooltipField {
  display: flex;
  max-width: 200px;
  height: max-content;
  white-space: initial;
  border-radius: 8px;
  padding: 12px;
}