@import "../../../styles/rem";
@import "../../../styles/variables";

.wrapperForm{
  height: rem(200px);
}

.monetization {
  background: transparent;
  border-radius: rem(10px);  
  color: $primary-white;
  
  .labelWrapper {
    margin: rem(0 0 20px 0);
  }

  .switcher {
    max-width: rem(112px);
    width: 100%;
  }  

  .amountInput {
    position: relative;
    height: 50px;
    padding: rem(9px 11px);

    &:after {
      content: "";
      position: absolute;
      inset: 0;
      pointer-events: none;
      border: 1px solid rgba($normal-gray-scale, 0.6);
      border-radius: 8px;
    }

    .inputWrapper {
      padding: rem(0 4px);
      color: $primary-white;

      .input::-webkit-outer-spin-button,
      .input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      /* Firefox */
      .input[type=number] {
        -moz-appearance: textfield;
      }
    }
  }
}

.button {
  margin: 0;
}
.error {
  position: relative;
}
.tooltip {
  margin: rem(2px 0 0 0) !important;  
}

.deviceButton {
  width: rem(42px);
  height: rem(42px);
  border-radius: 22.5%;

  &.inactive {
    color: rgba($primary-white, 0.25);
  }

  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 30%;
  right: rem(20px);
  button{
    width: 100%;
    height: 100%;
  }
}
.commonOpenPanel {
  max-width: rem(480px);
  min-width: rem(420px);
  padding: rem(20px);  
}
.popoverMonetization{
  background: transparent;
}
