@import "../../../styles/rem";
@import "../../../styles/variables";

%base-wrapper-icon-button {
  width: rem(34px);
  height: rem(34px);
  border-radius: 22.5%;
}

.monetization {
  background: transparent;
  border-radius: rem(10px);
  height: rem(50px);
  color: $primary-white;

  overflow: hidden;

  transition: height 200ms linear;

  .labelWrapper {
    margin: rem(0 0 20px 0);
  }

  .switcher {
    max-width: rem(112px);
    width: 100%;
  }

  &.active {
    height: rem(115px);
  }

  .amountInput {
    position: relative;
    height: 50px;
    padding: rem(9px 11px);

    &:after {
      content: "";
      position: absolute;
      inset: 0;
      pointer-events: none;
      border: 1px solid rgba($normal-gray-scale, 0.6);
      border-radius: 8px;
    }

    .inputWrapper {
      padding: rem(0 4px);
      color: $primary-white;

      .input::-webkit-outer-spin-button,
      .input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      /* Firefox */
      .input[type=number] {
        -moz-appearance: textfield;
      }
    }
  }
}

.button {
  margin: rem(20px 0 0 0);
}
.error {
  position: relative;
}
.tooltip {
  margin: rem(2px 0 0 0) !important;  
}

.deviceButton {
  @extend %base-wrapper-icon-button;

  &.inactive {
    color: rgba($primary-white, 0.25);
  }

  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 30%;
  right: rem(20px);
  .iconWrapper{
    border-radius: 22.5%;
  }
}
.commonOpenPanel {
  max-width: rem(480px);
  min-width: rem(420px);
  padding: rem(20px);
  background-color: none;
}
