@import "../../../styles/rem";
@import "../../../styles/variables";

.selectDevicesWrapper {
  margin: rem(30px 0 0 0);
}

.advancedButton {
  width: rem(131px);
  color: $primary-white;
  padding: rem(6px 4px);
  background: #0F0F10;
  border-radius: rem(8px);
  cursor: pointer;
  flex-wrap: nowrap;
}

.arrowIcon {
  cursor: pointer;
  transform: rotate(180deg);
}

.settingsWrapper {
  position: relative;

  .settingPosition {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
  }

  .advancedSettings {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
  }

  .advancedSettings, .settingPosition {
    &.relative {
      pointer-events: all;
      position: relative;
      z-index: 1;
    }
  }
}

.switchWrapper {
    padding: rem(13px 10px);
    background: $light-gray-scale;
    border: 1px solid rgba($normal-gray-scale, 0.6);
    border-radius: rem(10px);
}

.audioSettings {
  background: $light-gray-scale;
  border: 1px solid rgba($normal-gray-scale, 0.6);
  border-radius: rem(10px);
  height: rem(52px);

  overflow: hidden;

  transition: height 200ms linear;

  &.withVolume {
    height: rem(113px);
  }

  .audioWrapper {
    padding: rem(13px 10px);
  }

  .audioRange {
    padding: rem(13px 22px 13px 10px);

    &.inactive {
      color: $normal-gray-scale;
    }
  }
}