.player {
    pointer-events: none;
}

.none {
    display: none;
}

.fullPlayer {
    width: 177.77777778vh;
    height: 120% !important;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    transform: translate(-50%, -50%) skewX(0) skewY(0) scaleX(1) scaleY(1);
    top: 50%;
    left: 50%;
}


.main {
    height: 100%;
    position: relative;
}