@import "../../../styles/rem";

.form {
  width: 100%;
  max-width: rem(920px);
}

.content {
  width: rem(1000px);
  padding: rem(40px);
}

.rightSide {
  padding: rem(0 0 0 40px);
}

.leftSide {
  padding: rem(0 40px 0 0);
}

.datePicker {
  width: rem(420px);
}

.timeInput {
  flex: 1;
}

.buttons {
  margin: rem(34px 0 0 0);
}