{
  "trailingComma": "all",
  "tabWidth": 4,
  "singleQuote": true,
  "printWidth": 100,
  "semi": true,
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "useTabs": false
}
