@import "../../styles/rem";

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: rem(20px);
  z-index: 10;
}

.main {
  width: 100%;
  border: rem(1px) solid transparent;

  &.meetingLayout {
    height: 100vh;
    position: relative;
  }
}

.topLeft {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  max-width: 40%;
  width: rem(544px);
  height: rem(544px);

  .icon {
    max-width: 100%;
  }
}

.topRight {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
  max-width: 40%;
  max-height: rem(718px);
  width: rem(718px);
  height: rem(718px);

  .icon {
    max-width: 100%;
    max-height: 100%;
  }
}

.contentWrapper {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;

  &.meetingLayout {
    max-height: 100%;
    overflow: hidden;
  }
}

.link {
  cursor: pointer;
}