@import "../../../styles/variables";
@import "../../../styles/rem";

.paperWrapper {
  padding: rem(40px);
}

.icon {
  color: $primary-black;
}

.contentWrapper {
  max-width: rem(392px);
}

.title {
  margin: 0 0 rem(45px) 0;
}

.tagsWrapper {
  max-height: 300px;
}