@import "../../../styles/variables";
@import "../../../styles/rem";

.paperWrapper {
  padding: rem(40px);
}

.icon {
  color: $primary-black;
}


.title {
  margin: 0 0 rem(45px) 0;
}

.tagsWrapper {
  max-height: rem(300px);
}

.details {
  padding: rem(25px);
}

.sumary {
  align-items: center;
  min-height: rem(40px);
}