@import "../../../styles/variables";
@import "../../../styles/mixins";
@import "../../../styles/rem";

.templateContent {
  position: relative;
  border-radius: rem(8px);
  overflow: hidden;
  width: 45%;
  max-width: rem(334px);
  height: rem(190px);

  @media only screen and (max-width: 600px) {
    height: 115px;
  }

  &.mobile {
    width: 100%;
    height: 115px;
  }
    
  @media only screen and (max-width: 280px) {
    width: 95% !important;
  }

  z-index: 10;

  &:after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba($primary-black, 0.15);
  }
}

.templateButtons {
  position: absolute;
  inset: 0;
  background: rgba($primary-black, 0.6);
  backdrop-filter: blur(24px);

  z-index: 11;
}

.button {
  width: rem(169px);

  &.mobile {
    padding: 8px;
  }

  @media screen and (max-width: 485px) {
    width: rem(128px);

    &.mobile {
      padding: 4px;
    }
  }

  @media screen and (max-width: 350px) {
    width: rem(103px);

    &.mobile {
      padding: 4px;
    }
  }
}
