@import "../../../styles/rem";
@import "../../../styles/variables";

.content {
  max-width: rem(457px);
  padding: rem(40px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  margin: rem(40px 0 0 0);
}

.icon {
  color: $primary-red;
}