.item {
    width: 60px;
    height: 60px;
    cursor: pointer;
    padding: 6px;
}

.bound {
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid transparent;

    &.active {
        border: 3px solid #6f6fba;
    }
}

.image {
    border-radius: 50%;
    overflow: hidden;

   
}