@import '../../../styles/variables.scss';

.container {
    width: 264px;
    height: 290px;
    border-radius: 16px;
    background-color: $primary-white;
    padding: 12px;
    display: flex;
    flex-direction: column;
    padding: 18px 18px 0px 18px;
}

.main {
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    overflow-y: scroll;
}

.header {
    height: 40px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}