@import '../../../styles/variables.scss';

.container {
    width: 320px;
    height: 290px;
    border-radius: 16px;
    background-color: $primary-white;
    padding: 12px;
    display: flex;
    flex-direction: column;
    padding: 18px 18px 0px 18px;
}

.main {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.list {
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
}

.header {
    height: 40px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.unlockTitle {
    text-decoration: underline;
    color: $primary-blue;
    font-size: 14px;
    cursor: pointer;
  }

  .closeButton {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 5px;
  }