@import "../../../styles/variables";
@import "../../../styles/rem";
@import "../../../styles/mixins";

.wrapper {
  white-space: nowrap;
  width: min-content;
  max-width: 200px;
  height: fit-content;
  display: flex;
  align-items: center;
  padding: rem(5px 12px 5px 12px);
  background: $primary-white;
  border: rem(1px) solid rgba($normal-gray-scale, 0.4);
  box-shadow: rem(0 4px 10px -2px) rgba($primary-black, 0.1);
  border-radius: rem(6px);
  text-transform: capitalize;
  @extend %text-ellips;

  .icon {
    margin: rem(0 0 0 8px);
  }
}