@import "../../styles/rem";
@import "../../styles/variables";

.wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: rem(13px 20px);
  background: #FBFBFD;
}

.scrollButton {
  width: rem(34px);
  height: rem(34px);
  border: 1px solid rgba($normal-gray-scale, 0.4);
  box-shadow: 0 4px 10px -2px rgba($primary-black, 0.1);
  border-radius: rem(8px);
}

.links {
  width: auto;
  margin: 0 auto;
}