@import "../../../styles/rem";
@import "../../../styles/variables";

.dialogContent {
  padding: 0;
}

.templatePreview {
  position: relative;
  width: rem(740px);
  height: rem(480px);
  padding: rem(14px);
}

.templateInfoContent {
  display: grid;
  grid-template: "templateInfo templateInfo templateInfo templateInfo" min-content
  "title title title title" min-content
  "description description description description" max-content
  "buttons buttons buttons buttons";
  gap: rem(8px);
  padding: rem(40px);
  width: rem(472px);

  .templateInfo {
    grid-area: templateInfo;

      .templateType {
        width: auto;
      }
  }

  .name {
    margin: rem(24px 0 0 0);
    grid-area: title;
  }

  .description {
    margin: rem(12px 0 0 0);
    grid-area: description;
  }

  .buttons {
    height: min-content;
    margin-top: auto;
    grid-area: buttons;

    .chooseBtn {
      height: rem(56px);
    }

    .statisticsButton {

    }
  }
}

.templatePayment {
  padding: rem(5px 8px 5px 4px);
  color: $dark-green;

  &.paid {
    color: $primary-blue;
  }
}

.templateParticipant {
  padding: rem(5px 8px 5px 4px);
}

.roomStatusLabel {
  position: absolute;
  z-index: 1;
}