@import "../../../styles/rem";

.downloadIcsEvent {
  width: rem(373px);
  position: fixed;
  bottom: rem(20px);
  right: rem(20px);

  padding: rem(16px);
}

.image {
  flex: 0 0 rem(24px);
}

.text {
  flex: 1 0 auto;
}

.downloadButton {
  width: rem(63px);
  height: rem(36px);
}

.cancelButton {
  width: rem(34px);
  height: rem(34px);
  border-radius: rem(6px);
}

.wrapper {
  padding: rem(40px);
  max-width: rem(469px);
}