@import "../../../styles/rem";
@import "../../../styles/variables";

.templateContent {
  position: relative;
  width: rem(124px);
  height: rem(76px);
  border-radius: rem(8px);
  overflow: hidden;
  cursor: pointer;

  &:after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    border: 2px solid $primary-orange;
    border-radius: rem(8px);
    opacity: 0;
    pointer-events: none;
    transition: opacity 200ms linear;
    z-index: 10;
  }

  &.active {
    &:after {
      opacity: 1;
    }
  }
}

.checkIcon {
  width: 18px;
  height: 18px;
  background: $primary-orange;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 10px;
  overflow: hidden;
  z-index: 20;
}