@import "../../../styles/rem";
@import "../../../styles/variables";

.socialBtn {
  height: rem(44px);
  width: rem(44px);
  background: rgba($normal-gray-scale, 0.4);

  border: rem(1px) solid rgba($normal-gray-scale, 0.4);
  box-shadow: rem(0 12px 24px -4px) rgba($primary-black, 0.1);
  border-radius: rem(10px);
  transition: background-color 200ms linear;

  &.active {
    background: $primary-white;
  }
}

.trashIcon {
  cursor: pointer;
  color: #28282D;
}