@import "../../styles/rem";

.image {
  width: rem(40px);
  height: rem(40px);
  display: block;
  margin: 0 rem(12px) 0 0;
}

.commonTemplates {
  margin: rem(108px 0 64px 0);

  &.noProfileTemplates {
    margin: 0 0 rem(64px) 0;
  }
}