@import "../../../styles/variables";
@import "../../../styles/rem";
@import "../../../styles/mixins";

.audioWave {
  background: transparent;
  height: rem(25px);
  overflow: hidden;

  .audioWaveItem {
    background: $primary-white;
    height: var(--height);
    width: rem(3px);
    border-radius: rem(30px);
  }
}

.audioInfo {
  .audioName {
    max-width: 200px;
    @extend %text-ellips;
  }
}
