@import "../../../styles/variables";

.leftIcon {
  transform: rotate(90deg);
  cursor: pointer;
}

.rightIcon {
  transform: rotate(-90deg);
  cursor: pointer;
}

.dayWrapper {
  position: relative;
  width: 36px;
  height: 36px;

  cursor: pointer;

  &:after {
    content: "";
    position: absolute;
    inset: 0;
    background: transparent;
    border-radius: 50%;
    z-index: 1;
  }

  &.activeDay {
    .day {
      z-index: 2;
      color: $primary-white;
    }

    &:after {
      background: $primary-orange;
    }
  }

  &.blocked {
    &:hover {
      &:after {
        background: rgba(189, 200, 211, 0.25);
      }
    }
  }
}

.day {
  &.hideWeekDay {
    cursor: default;
    pointer-events: none;
    color: transparent;
  }
}
