@import "../../../styles/rem.scss";

.title {
  margin: rem(0 0 4px 0);
}

.formContent {
  width: 100%;
  margin: rem(32px 0 0 0);

  .button {
    margin: rem(32px 0 0 0);

    &.mobile {
      margin: rem(auto 0 0 0);
    }
  }
}

.contentWrapper {
  flex: 1 1 auto;
  .formContent {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
  }
}


.wrapper {
  padding: rem(28px);
}