.videoWrapper {
  position: absolute;
  // transform: translate(-50%, 50%);
  z-index: 2000;
  transition: top 200ms linear, left 200ms linear;
  pointer-events: all;

  &.sharing {
    transform: unset;
    position: relative;
  }
}
.boxDraggable{
  z-index: 2000;
  position: absolute;
  // transform: translate(-50%, 50%);
  transition: top 200ms linear, left 200ms linear;
  &.dragSharing{
    transform: unset !important;
    left: inherit !important;
    bottom: inherit !important;
    position: relative !important;
  }
}
.boxPreventClick{
  position: absolute;
  inset: 0;
  z-index: 1000;
  display: none;
  &.show{
    display: block;
  }
}