@import "../../../styles/rem";
@import "../../../styles/variables";

.dialog {
  &.mobile {
    position: absolute;
    bottom: 0;
    width: calc(100% - 16px);
    margin: 8px;
  }
}

.content {
  padding: rem(40px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  color: $primary-red;
}

.button {
  margin: rem(40px 0 0 0);
}