@import "../../../styles/variables";
@import "../../../styles/rem";

.userItem {
  &:first-child {
    margin: rem(0 0 5px 0);
  }

  &:not(:first-child) {
    margin: rem(5px 0 5px 0);
  }
}

.scroll {
  max-height: 285px;
  max-height: 285px;
  padding-right: 20px;
}

.noAudience {
  color: white;
}