@import "../../../styles/variables";
@import "../../../styles/rem";
@import "../../../styles/mixins";

.monetizationIcon {
  color: $primary-black;
}

.monetizationWrapper {
  max-width: 100%;
  padding: 0 0 0 rem(44px);
}

.monetizationSwitch {
  margin: 0 0 0 auto;
}

.descriptionWrapper {
  margin: rem(65px 0 89px 0);
}

.text {
  margin: rem(4px 0 0 0);
}

.disconnect {
  cursor: pointer;
  margin: 0 0 0 auto;
}

.icon {
  color: $normal-gray-scale;
  margin: 0 0 0 auto;
}

.buttonWrapper {
  flex-wrap: nowrap;
}

.email {
  @extend %text-ellips;
}