@import "../../../styles/rem";
@import "../../../styles/variables";

.wrapper {
  height: 100%;
}

.paper {
  max-width: rem(456px);
  width: 100%;
  min-height: rem(474px);
  height: fit-content;
  padding: rem(32px);
}

.label {
  margin: rem(24px 0 4px);
  &:first-child {
    margin: rem(0 0 4px);
  }
}

.customLinkLabel {
  margin: rem(24px 0 4px);

  &:first-child {
    margin: rem(0 0 4px);
  }
}

.buttonsGroup {
  position: absolute;
  bottom: rem(28px);
  left: 50%;
  transform: translate(-50%);

  .button {
    max-width: rem(113px);
    width: 100%;
  }

  .actionButton {
    width: rem(46px);
    height: rem(46px);
    border-radius: rem(12px);
    padding: rem(6px);
  }
}

.linkLabel {
  white-space: pre;
}

.customLinkPreview {
  color: rgba($primary-white, 0.6);
  overflow: hidden;
  text-overflow: ellipsis;
}