@import "../../styles/rem";
@import "../../styles/variables.scss";

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: rem(16px);
  background-color: $primary-white;

  &.dashboard {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px -2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 1px 0px;
  }

  &.background {
    background-color: $primary-white;
  }

  &.dashboardRoom {
    display: none;
  }
}

.main {
  border: rem(0px) solid transparent;
  position: absolute;
  width: 100%;
  height: 100%;

  &.relativeLayout {
    display: flex;
    flex-direction: column;
  }

  &.meetingLayout {
    height: 100vh;
    overflow: hidden;
  }

  &.meetingMobileLayout {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    overflow: hidden;
  }
}

.topLeft {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  max-width: 40%;
  width: rem(544px);
  height: rem(544px);

  .icon {
    max-width: 100%;
  }
}

.topRight {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  max-width: 40%;
  max-height: 100%;
  width: rem(718px);
  height: rem(718px);

  .icon {
    max-width: 100%;
    max-height: 100%;
  }
}

.bgImage {
  position: fixed;
  height: 100%;
  width: 100%;
  // background-image: url("/images/clouds_background.webp");
  background-color: #fcfcfc;
  background-repeat: repeat;
  background-size: cover;
  z-index: -1;
}

.contentWrapper {
  height: 100%;
  width: 100%;

  &.relativeLayout {
    position: relative;
  }

  &.meetingLayout {
    height: 100%;
    max-height: 100%;
    overflow: hidden;
  }
}

.mobileContent {
  max-height: 100%;
}

.link {
  cursor: pointer;
}

.button {
  border-radius: 20px;
  color: #0F0F10;
  padding: 5px 10px;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 6px;
}

.bgBlack {
  background: $primary-black;
  color: $primary-white;
  font-size: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  border: 1px solid transparent;
}

.profileImage {
  display: inline-block;
  width: 45px;
  height: 45px;
  margin-right: 28px;
  transition: all 0.2s;

  &.activeProfile {
    border: rem(1px) solid $primary-orange;
  }
}

.innerProfileImage {
  display: inline-block;
  width: 45px;
  height: 45px;
  margin-right: 20px;
}

.profileImage:hover {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5)
}

.activeIcon {
  color: $primary-orange;
}

.linkIcon {
  cursor: pointer;
  color: black;
}

.headerGrid {
  flex-direction: row;
}

.menu {
  z-index: 9999;
  padding: 8px 16px;
}

.profileItem {
  display: flex;
  color: black;
}

.menuItem {
  display: flex;
  color: black;
  margin-left: 8px;
}

.menuText {
  margin-left: 20px;
}

.listItemText {
  font-size: 16px;
}

.profileName {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px ;
}

.profileEmail {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.iconButton {
  z-index: 9999;
}
