@import "../../styles/rem";
@import "../../styles/variables";

.form {
  width: 100%;
}

.cancelNote {
  height: rem(32px);
  width: rem(32px);
  border-radius: rem(8px);
  margin: rem(0 0 0 8px);
  color: $primary-white;
}

.submitNote {
  height: rem(29px);
  width: rem(29px);
  border-radius: rem(8px);
  margin-right: 10px;
}

.textLength {
  margin: rem(0 12px 0 auto);
}

.commonOpenPanel {
  position: absolute;
  bottom: 1%;
  right: 35%;
  width: 430px;
  border-radius: 6px;
  padding: 6px 10px;

  &.mobile {
    display: none;
  }

  &.open {
    opacity: 1;
  }
}

.actionButton {
  position: relative;
  background: transparent;
  color: $primary-white;
  border: none;
  width: rem(43px);
  height: rem(41px);
  border-radius: rem(4px);
  margin-right: 7px;

  &.active {
    background: rgba($primary-white, 0.25);
  }

  &.disabled {
    color: rgba($primary-white, 0.25);
  }

}

.fieldNoLogin {
  height: 35px;
  border-radius: 8px;
  border: 1px solid rgba($primary-white, 0.25);
  padding-left: 10px;
  font-size: 13px;

  span {
    color: rgba($primary-white, 0.25);
  }

  a {
    text-decoration: underline;
    cursor: pointer;
    color: $primary-white;
  }
}