@import "../../styles/rem";
@import "../../styles/variables";

.form {
  width: 100%;
}

.cancelNote {
  height: rem(32px);
  width: rem(32px);
  border-radius: rem(8px);
  margin: rem(0 0 0 8px);
  color: $primary-white;
}

.submitNote {
  height: rem(29px);
  width: rem(29px);
  border-radius: rem(8px);
  margin-right: 10px;
}

.textLength {
  margin: rem(0 12px 0 auto);
}

.textField {
  background: transparent;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.commonOpenPanel {
  position: absolute;
  width: rem(35px);
  bottom: 1%;
  left: 40%;
  border-radius: 4px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  border-radius: 6px;
  padding: 0px 10px;


  &.expanded {
    width: 400px;
    padding: 10px 10px;
  }

  &.mobile {
    left: 50%;
  }

  &.open {
    opacity: 1;
  }
}

.actionButton {
  position: relative;
  background: transparent;
  color: $primary-white;
  border: none;
  width: rem(50px);
  height: rem(50px);
  border-radius: rem(4px);
  cursor: pointer;

  &.active {
    background: rgba($primary-white, 0.25);
  }

}

