@import "../../../styles/rem";
@import "../../../styles/mixins";

.selectDeviceInput {
  background: #FBFBFC;
  max-width: 100%;
  max-height: rem(50px);
}

.activeItem {
  width: rem(255px);
  max-width: 100%;
}

.activeValue {
  max-width: 100%;
  @extend %text-ellips;
}

.activeIcon {
  margin: rem(0 12px 0 0);
}
