@import "../../../styles/rem";
@import "../../../styles/variables";

.templatesWrapper {
  margin: rem(40px) 0 0 0;
}

.templatesContent {
  max-width: rem(1054px);
  width: 100%;
  justify-items: center;

  @media (max-width: 1100px) {
    max-width: rem(705px);
  }
}

.dots {
  margin: rem(85px) 0 0 0;
}

.slider {
  position: absolute;
  bottom: -62px;
  display: flex;
  left: 50%;
  transform: translateX(-50%);
  gap: rem(12px);
  justify-content: center;
  width: min-content;
  padding: 0;
  margin: 0;
  list-style: none;

  .dotSlider {
    width: rem(8px);
    height: rem(8px);
    border-radius: 50%;
    background: rgba($normal-gray-scale, 0.4);
    cursor: pointer;
    transition: background 200ms linear;

    &.activeDot {
      background: #0F0F10;
    }
  }
}

%arrow {
  position: absolute;
  display: block;
  bottom: -62px;
  cursor: pointer;
  opacity: 0.4;

  &:hover {
    opacity: 1
  }
}

.descCreateRoomResponsive {
  display: none;
}

.prevArrow {
  @extend %arrow;
  left: calc(50% - var(--offset));
  transform: translateY(13px) rotate(90deg);
}

.nextArrow {
  @extend %arrow;
  left: calc(50% + var(--offset));
  transform: translateY(13px) rotate(-90deg);
}

.addItem {
  border: 1px dashed;
  position: relative;
  border-radius: rem(8px);
  overflow: hidden;
  width: 45%;
  max-width: rem(334px);
  align-self: center;
  justify-self: center;
  z-index: 10;
  height: rem(190px);
  padding-left: 10px;
  cursor: pointer;

  @media only screen and (max-width: 600px) {
    height: 115px;
  }

  @media only screen and (max-width: 280px) {
    width: 95% !important;
  }

  &.addItemMobile {
    width: 45%;
    height: 115px;

    @media only screen and (max-width: 280px) {
      width: 95% !important;
    }
  }
}

.title {
  margin-left: 10px;
}

.descCreateRoom {
  width: 85%;
  margin-left: 10px;
}

@media only screen and (max-width: 1101px) {
  .descCreateRoom {
    display: none;
  }

  .descCreateRoomResponsive {
    display: flex;
    width: 80%;
    margin-left: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .descriptionWrapper {
    display: none;
  }
}