@import "../../styles/rem";
@import "../../styles/variables";

.wrapper {
  margin: rem(85px auto 0);
  width: rem(1100px);
  max-width: 100%;
  inset: 0;
}

.paper {
  border-radius: rem(8px);
  padding: rem(16px);
}

.actions {
  height: rem(50px);
}