@import "../../styles/rem";
@import "../../styles/variables";

.wrapper {
  margin: rem(85px auto 0);
  width: rem(1100px);
  max-width: 100%;
  inset: 0;
}

.paper {
  border-radius: rem(8px);
  padding: rem(16px);
  width: 100%;
}

.actions {
  height: rem(40px);
}

.scroll {
  display: flex;
  flex-wrap: wrap;
  max-height: rem(410px);
  background-color: #f4f6f9;
  padding-top: rem(12px);
  border-radius: rem(10px);
}