@import "../../../styles/rem";

.businessCategoryTags {
  position: relative;
  padding: rem(16px);
  max-height: rem(105px);
  min-width: rem(300px);
  max-width: rem(300px);

  &.hiddenTags {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    pointer-events: none;
    user-select: none;
  }
}

.popper {
  z-index: 100;
}

.tagsWrapper {
  position: relative;
}

.showMoreTags {
  cursor: pointer;
}

.moreTags {
  max-width: rem(400px);
}

.numberOfHiddenTags {
  white-space: nowrap;
}

.hiddenTags {
  padding: rem(16px);
  width: max-content;
}

.businessTag {
  flex: 0 auto;
  overflow: hidden;
}

.hiddenBusinessTag {
  max-width: rem(190px);
}
