@import "../../../styles/variables";
@import "../../../styles/mixins";
@import "../../../styles/rem";

.templateContent {
  position: relative;
  border-radius: rem(8px);
  overflow: hidden;
  max-width: rem(334px);

  align-self: center;
  justify-self: center;

  z-index: 10;

  &:after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba($primary-black, 0.15);
  }
}

.templateMenu {
  position: absolute;
  inset: 0;

  padding: rem(18px 15px);

  background: rgba($primary-black, 0.6);
  backdrop-filter: blur(24px);

  z-index: 11;

  .startMeetingBtn {
    padding: rem(8px 16px);

    &.disabled {
      background: rgba($primary-orange, 0.6);
      color: rgba($primary-white, 0.6);
    }
  }
}

.avatar {
  width: 250px;
}

.deleteBtn {
  position: absolute;
  top: rem(16px);
  right: rem(16px);
  width: rem(38px);
  height: rem(38px);
  border-radius: rem(10px);
}

.menuButton {
  position: absolute;
  top: rem(16px);
  right: rem(16px);
  width: rem(38px);
  height: rem(38px);
  border-radius: rem(10px);
}

.menu {
  width: rem(127px);
  border-radius: rem(6px);
  .item {
    height: rem(34px);
    padding: rem(6px 8px);
  }
}

