@import "../../../styles/variables";
@import "../../../styles/mixins";
@import "../../../styles/rem";

.profileInfo {
  position: absolute;
  width: rem(360px);
  top: rem(20px);
  left: rem(20px);
  z-index: 1;

  &.withBoard {
    height: rem(244px);
    top: 0;
    left: 0;

    .info {
      position: absolute;
    }
  }

  .profileAvatar {
    position: relative;
    overflow: hidden;
    border: rem(1px) solid #FFFFFF;
    box-shadow: rem(0 12px 24px -4px) rgba($primary-black, 0.24);
    border-radius: 50%;
    cursor: pointer;
  }

  .meetingActionWrapper {
    position: absolute;
    inset: 0;
    color: $primary-white;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  }

  .companyName {
    max-width: rem(500px);
    width: auto;
    padding: rem(7px 12px);
    background: rgba($primary-black, 0.6);
    backdrop-filter: blur(rem(28px));
    border-radius: rem(8px);

    .companyNameTitle {
      flex: 0 0 auto;

      &.withoutBoard {
        @extend %text-ellips;
        max-width: rem(300px);
      }

      &.withBoard {
        max-width: rem(180px);
        @extend %text-ellips;
        text-align: center;
      }
    }
  }

  .info {
    height: 100%;
    position: relative;
  }
}

.meetingActionNote {
  margin: 16px 0 0 0;
  padding: rem(12px 16px);
  background: rgba(15, 15, 16, 0.75);
  backdrop-filter: blur(28px);
  border-radius: rem(8px);

  &.withBoard {
    margin: -16px 0 0 0;
  }

  .closeIcon {
    cursor: pointer;
  }
}