@import "../../../styles/rem";
@import "../../../styles/variables";

.wrapper {
  position: relative;
  padding: rem(20px 28px);

  background: $light-gray-scale;

  border: 1px solid rgba($normal-gray-scale, 0.4);
  border-radius: rem(16px);

  max-height: rem(238px);

  &.active {
    border: 2px solid $dark-orange;
  }
}

.buttons {
  width: auto;
  position: absolute;

  top: rem(36px);
  right: rem(28px);

  .button {
    width: fit-content;
  }
}

.listWrapper {
  display: flex;
  flex-wrap: wrap;
  margin: rem(14px 0 0 0);
  padding: 0;
}

.productName {
  width: min-content;
  padding: rem(6px 10px);
  border-radius: rem(12px);
}

.price {
  font-style: normal;
  font-weight: 700;
  font-size: rem(32px);
  line-height: rem(48px);
}

.listItem {
  width: auto;
  display: inline-flex;
  flex: 0 0 50%;
  gap: rem(12px);

  padding: rem(6px 0 0 0);
}

.listIcon {
  width: rem(20px);
  height: rem(20px);
  min-width: rem(20px);
  color: $primary-white;
  background: $primary-black;
  border-radius: 50%;
  display: flex;
  margin: rem(4px 0 0 0);
}