@import "../../../styles/rem";
@import "../../../styles/variables";

.linkItems {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.linkItem {
  position: fixed;
  top: var(--top);
  left: var(--left);
  cursor: pointer;
  transform: translate(-50%, -50%);
  width: rem(20px);
  height: rem(20px);
  opacity: 0.5;
  z-index: 200;

  &:hover {
    opacity: 1;
  }
}

.itemTooltip {
 cursor: pointer;
}