@import "../../../styles/rem";
@import "../../../styles/variables";

.wrapper {
    padding: 10px;
    padding-top: 30px;
    position: relative;
}

.tab {
    text-transform: initial;
    min-height: 40px;
    font-weight: bold;
    font-size: 13px;
    min-width: 73px;
    color: white;
}

.clearBtn {
    text-transform: initial;
    min-height: 40px;
    font-weight: bold;
    font-size: 13px;
    min-width: 73px;
    color: white;
}

.tabs {
    min-height: 40px;
    justify-content: space-between;
}

.tabContainer {
    overflow-x: scroll;
}

.indicator {
    display: none;
}

.buttonScroll {
    color: white;
}

.chatCaption {
    color: white;
    padding: 6px 0;
    border-bottom: 1px solid white;
    margin-bottom: 10px;
}

.newRequests {
    background: rgba($primary-orange, 0.1);

    &:hover {
      background: rgba($primary-orange, 0.25);
    }

    &:after {
      content: "";
      width: rem(11px);
      height: rem(11px);
      border-radius: 50%;
      background: $primary-orange;
      position: absolute;
      top: -1px;
      right: -1px;
    }
  }

  .closeBtn {
    position: absolute;
    top: 4px;
    right: 4px;
    color: white;
  }