.tab {
    text-transform: initial;
    min-height: 40px;
    font-weight: bold;
    font-size: 13px;
    min-width: 73px;
    color: white;
}

.clearBtn {
    text-transform: initial;
    min-height: 40px;
    font-weight: bold;
    font-size: 13px;
    min-width: 73px;
    color: white;
}

.tabs {
    min-height: 40px;
    justify-content: space-between;
}

.tabContainer {
    overflow-x: scroll;
}

.indicator {
    display: none;
}

.buttonScroll {
    color: white;
}

.chatCaption {
    color: white;
    padding: 6px 0;
    border-bottom: 1px solid white;
    margin-bottom: 10px;
}