@import "../../../styles/variables";
@import "../../../styles/rem";

.wrapper {
  position: relative;
  --animation-duration: 150ms;

  .item {
    z-index: 2;
    padding: rem(5px 10px);
    height: rem(30px);
    cursor: pointer;
    transition: color var(--animation-duration) ease-in-out;
    width: 100%;
  }

  .transition {
    position: absolute;
    z-index: 1;
    width: var(--width);
    height: rem(30px);
    transition: left var(--animation-duration) linear, width var(--animation-duration) linear;
    background-color: $primary-white;
  }
}

.wrapper:after {
  background-color: #333333;
}

.primary {
  border-radius: rem(6px);
  color: $primary-black;
  padding: rem(1px);

  .item {
    border-radius: rem(6px);
    color: $normal-gray-scale;
    &.active {
      color: $primary-black;
    }
  }

  .transition {
    border-radius: rem(6px);
    box-shadow: rem(0 4px 10px -2px) rgb($primary-black, 0.1);
  }
}

.transparent {
  border-radius: rem(12px);
  height: rem(46px);
  align-items: center;
  padding: rem(6px);
  color: $primary-white;

  .item {
    border-radius: rem(8px);
    &.active {
      color: $primary-black;
      background-color: white;
    }
    &.disabled {
      color: $normal-gray-scale;
    }
  }

  .transition {
    border-radius: rem(8px);
  }
}
