@import "../../styles/variables";
@import "../../styles/rem";

.splitViewWrapper {
  width: 100%;
  padding: rem(34px 40px);

  .splitView {
    max-width: 50%;
    position: relative;

    &:first-child {
      &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: rem(1px);
        border: rem(1px) solid rgba($normal-gray-scale, 0.4);
      }
    }
  }
}