@import '../../../../styles/variables.scss';

.containter {
    display: flex;
    align-items: center;
    width: 100%;
}

.main {
    display: flex;
    flex-direction: row;
    position: relative;
}

.right {
    padding: 8px 10px;
    width: 155px;
    display: flex;
    flex-direction: column;
    line-height: 16px;
    border-radius: 5px 13px 13px 15px;
    justify-content: center;
    background: rgba(0, 0, 0, 0.3882352941);
    position: relative;
    height: fit-content;
    min-height: 30px;
    margin-bottom: 4px;
}

.userName {
    font-size: 11px;
    color: $primary-white;
}

.content {
    font-size: 13px;
    color: $primary-white;
    font-weight: 500;
    word-break: break-word
}

.avatar {
    margin-right: 5px;
}

.time {
    text-transform: uppercase;
    text-align: center;
    font-size: 13px;
    color: $primary-white;
    margin-bottom: 10px;
    font-weight: 400;
}

.myMessage {
    justify-content: flex-end;
}

.yourMessage {
    justify-content: flex-start;
}

.myMessage .right {
    border-radius: 15px 13px 5px 13px;
}

.recently {
    margin-left: 30px;
}

.myMessage .recently {
    margin-left: 0px;
}

.break {
    margin-top: 15px;
}

.emotionLeft {
    margin-right: 4px;
    cursor: pointer;
}

.emotionRight {
    margin-left: 4px;
    cursor: pointer;
}

.releasedEmotion {
    position: absolute;
    bottom: -6px;
    right: var(--right);
    padding: 2px;
    background: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    z-index: 10;
}

.emotion {
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tranformEmotion {
    transform: scale(1.2);
}