@import "../../../styles/rem";

.dialog {
  width: rem(472px);
  padding: rem(40px);
}

.text {
  white-space: break-spaces;
}

.form {
  margin: rem(40px 0 0 0);
  width: 100%;
}

.text {
  word-break: break-word;
}

.resend {
  margin: rem(47px 0 0 0);
}

.resendButton {
  cursor: pointer;
}

.title {
  margin: 20px 0 8px 0;
}