.react-resizable {
    position: relative;
    &:hover .react-resizable-handle:not(.disabled) {
        display: block;
    }
}
.react-resizable-handle {
    position: absolute;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-origin: content-box;
    box-sizing: border-box;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAACXBIWXMAAAsTAAALEwEAmpwYAAAA00lEQVR4nL3UMQ4BQRQG4I2IksQVSNyC3inIzsxqSJCQaOYMu29sghvoFHSoMG9MufchG3YpSOzMxkte+xX//2Yc55/D+bHIBA6YUDMayCHnt4IRRAM5oYA6XiKwY4R44tpOkQA3fB2VMiO9UDUIyFMCMYHNzIi7iqoE5C5FQIVG4VKQywShIJH5upYZIoDTF4KaAI6swn3uvu/LsjVEAA9soSuO7d3QR1tjI+hT2K44142wuH4KuLWq/9tB0rlqGWNeHk8kmffwXbh0jaHcvpFf5g4T5r0KsmVK5AAAAABJRU5ErkJggg==");
    padding: 0 -3px -3px 0;
    display: none;
}
 
.react-resizable-handle-sw {
    bottom: 0;
    left: 0;
    cursor: sw-resize;
    transform: rotate(90deg);
}
.react-resizable-handle-se {
    bottom: -4px;
    right: -4px;
    cursor: se-resize;
    transform: rotate(230deg);
}
.react-resizable-handle-nw {
    top: 0;
    left: 0;
    cursor: nw-resize;
    transform: rotate(180deg);
}
.react-resizable-handle-ne {
    top: -4px;
    right: -4px;
    cursor: ne-resize;
    transform: rotate(130deg);
}
.react-resizable-handle-w,
.react-resizable-handle-e {
    top: 50%;
    margin-top: 0;
    cursor: ew-resize;
}
.react-resizable-handle-w {
    left: 0;
    transform: rotate(135deg);
}
.react-resizable-handle-e {
    right: -5px;
    transform: rotate(315deg);
}
.react-resizable-handle-n,
.react-resizable-handle-s {
    left: 50%;
    margin-left: -10px;
    cursor: ns-resize;
}
.react-resizable-handle-n {
    top: 0;
    transform: rotate(225deg);
}
.react-resizable-handle-s {
    bottom: 0;
    transform: rotate(45deg);
}
