@import "../../../styles/variables";
@import "../../../styles/rem";

.blockSeparator {
  &:after, &:before {
    content: "";
    flex: 1 1 auto;
    width: auto;
    height: rem(1px);
    background: rgba($normal-gray-scale, 0.4);
  }
  .blockSeparatorText {
    margin: 0 rem(18px);
  }
}