@import "../../../styles/variables";
@import "../../../styles/rem";

.previewWrapper {
  position: relative;
  // margin: rem(0 40px 0 0);
  width: auto;

  &.mobile {
    width: 100%;
    margin: rem(0 0 14px 0);

    .previewVideo {
      margin: rem(0 45px 0 0);
      flex: rem(0 0 99px);
    }

    .mediaWrapper {
      width: 100%;
    }
  }
}

.previewVideo {
  margin: rem(0 0 10px 0);
  align-self: center;
}

.controlsWrapper {
  margin: rem(24px 0 0 0);

  .controlBtn {
    border-radius: rem(10px);
    border: rem(1px) solid rgba($normal-gray-scale, 0.4);
    color: $primary-black;
    padding: rem(8px);
    width: rem(50px);
    height: rem(50px);
    background: #FFFFFF;
    box-sizing: border-box;
    box-shadow: rem(0 12px 24px -4px) rgba($primary-black, 0.1);

    &:first-child {
      margin: rem(0 12px 0 0);
    }
    &.withError {
      color: $primary-red;
    }
    &.disabled {
      color: $normal-gray-scale;
    }
    &.mobile {
      width: rem(40px);
      height: rem(40px);
    }
  }
}

.unlockTitle {
  text-decoration: underline;
  color: $primary-blue;
  font-size: 12px;
  cursor: pointer;
}

.btnEdit{
  margin-bottom: 4px;
  border-radius: 4px;
}

.textAvatar {
  margin-right: 3px;
  font-size: 12px;
}