@import "src/styles/rem";
@import "src/styles/variables";
@import "src/styles/mixins";

.wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
}

.tooltipPosition {
  position: absolute;
  left: rem(94px);
}

.paper {
  width: rem(298px);
  height: fit-content;
  padding: rem(16px);
  color: $primary-white;
  left: rem(96px);
}

.title {
  margin: rem(0 0 4px);
}

.description {
  word-break: break-all;
}

.divider {
  margin: rem(16px 0);
}

.link {
  width: 100%;
  margin: rem(0 0 8px);
  word-break: break-word;
}

.participants {
  position: absolute;
  width: 100%;
  height: 100%;
  .stubWrapper {
    pointer-events: none;
  }
}

.buttonsGroup {
  position: absolute;
  bottom: rem(28px);
  left: 50%;
  transform: translate(-50%);

  .button {
    max-width: rem(160px);
    height: rem(46px);
    width: 100%;
  }

  .actionButton {
    width: rem(46px);
    height: rem(46px);
    border-radius: rem(12px);
    padding: rem(6px);
  }
}