@import "../../styles/variables";
@import "../../styles/rem";

.content {
  width: 310px;
  height: 200px;
  background: transparent;
  padding: 0;
}

.stubWrapper {
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  color: $primary-white;
}