.scroll {
    height: 290px;
    padding-right: 20px;
}

.imageBox {
    margin: 30px;
    pointer-events: none;
}

.imageEmpty {
    width: 150px;
}

.textEmpty {
    font-size: 13px;
    color: #ffffff;
    text-align: center;
}