@import "../../styles/rem";

.wrapper {
  position: relative;
  top: 0;
  width: 100%;
}

.containerWrapper {
  width: 100%;
}

.title {
  margin: 0 0 0 rem(12px);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.widthWrapper {
  width: 100%;
  max-width: rem(840px);
}

.confirmButton {
  width: auto;
  padding: rem(10px 20px);
}