@import "../../styles/variables";
@import "../../styles/mixins";
@import "../../styles/rem";

.templateContent {
  position: relative;
  border-radius: rem(8px);
  overflow: hidden;
  max-width: rem(334px);

  z-index: 10;

  &:after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba($primary-black, 0.15);
  }
}

.templateMenu {
  position: absolute;
  inset: 0;

  padding: rem(18px 15px);

  background: rgba($primary-black, 0.6);
  backdrop-filter: blur(24px);

  z-index: 11;

  .startMeetingBtn {
    padding: rem(8px 16px);

    &.disabled {
      background: rgba($primary-orange, 0.6);
      color: rgba($primary-white, 0.6);
    }
  }
}

.avatar {
  width: 250px;
}

.deleteBtn {
  position: absolute;
  top: rem(16px);
  right: rem(16px);
  width: rem(38px);
  height: rem(38px);
  border-radius: rem(10px);
}

.menuButton {
  position: absolute;
  top: rem(16px);
  right: rem(16px);
  width: rem(38px);
  height: rem(38px);
  border-radius: rem(10px);
}

.templateInfo {
  position: absolute;
  inset: 0;
  padding: rem(18px 15px);
  grid: "avatar avatar" min-content
        "avatar avatar" min-content
        "emptySpace emptySpace" 1fr
        "businessInfo  businessInfo" min-content
        / min-content auto;
  grid-template-columns: 1fr fit-content(20%);
  z-index: 10;

  .avatar {
    width: 100%;
    position: relative;
    grid-area: avatar;
  }

  .title {
    grid-area: title;
    @extend %text-ellips;
  }

  .description {
    @extend %text-ellips;
    max-width: 90%;
    grid-area: description;
  }

  .emptySpace {
    grid-area: emptySpace;
  }

  .businessInfo {
    grid-area: businessInfo;
    flex-wrap: nowrap;
  }
}

.textWrapper {
  flex: 1 1 100%;
  overflow: hidden;

  .icon {
    color: $primary-white;
  }

  .title {
    width: 100%;
    @extend %text-ellips;
  }
}

.templateParticipant {
  padding: rem(5px 8px 5px 4px);
  height: fit-content;
  display: flex;
  align-items: center;
  background: $primary-white;
  border: rem(1px) solid rgba($normal-gray-scale, 0.4);
  box-sizing: border-box;
  border-radius: rem(6px);
  text-transform: capitalize;
  box-shadow: rem(0 4px 10px -2px) rgba($primary-black, 0.1);
}

.templatePayment {
  width: min-content;
  padding: rem(5px 8px 5px 4px);
  height: fit-content;
  display: flex;
  align-items: center;
  background: #FFFFFF;
  border: rem(1px) solid rgba($normal-gray-scale, 0.4);
  box-sizing: border-box;
  border-radius: rem(6px);
  text-transform: capitalize;
  box-shadow: rem(0 4px 10px -2px) rgba($primary-black, 0.1);
  color: $dark-green;

  &.paid {
    color: $primary-blue;
  }
}

.customImage{
  max-width: 100%;
  height: 100%;
}
