@import "../../../styles/rem";
@import "../../../styles/variables";

.wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

.paper {
  max-width: rem(532px);
  width: 100%;
  height: rem(258px);
  padding: rem(32px);

  &.uploadedAudio {
    max-width: rem(331px);
    height: min-content;
  }
}

.uploadButton {
  margin: rem(32px 0 0 0);
  width: rem(106px);
  height: rem(54px);
}

.buttonsGroup {
  position: absolute;
  bottom: rem(28px);
  left: 50%;
  transform: translate(-50%);

  .button {
    max-width: rem(113px);
    height: rem(46px);
    width: 100%;
  }

  .actionButton {
    width: rem(46px);
    height: rem(46px);
    border-radius: rem(12px);
    padding: rem(6px);
  }
}

.removeIcon {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(4px, -4px);
  background: $primary-black;
  padding: 0;

  .icon {
    color: $primary-white;

    circle {
      fill: $primary-black;
      fill-opacity: 1;
    }
  }
}

.text {
  word-break: break-word;
  white-space: pre-wrap;
}