@import "../../../styles/variables";
@import "../../../styles/rem";

.hangUpButton {
  position: absolute;
  bottom: rem(30px);
  left: rem(30px);
  width: rem(56px);
  height: rem(56px);
  border-radius: rem(12px);
}