@import "../../../styles/variables";
@import "../../../styles/rem";

.templatePayment {
  width: min-content;
  padding: rem(5px 8px 5px 4px);
  height: fit-content;
  display: flex;
  align-items: center;
  background: #FFFFFF;
  border: rem(1px) solid rgba($normal-gray-scale, 0.4);
  box-sizing: border-box;
  border-radius: rem(6px);
  text-transform: capitalize;
  box-shadow: rem(0 4px 10px -2px) rgba($primary-black, 0.1);
  color: $dark-green;

  @media only screen and (max-width: 337px) {
    display: none;
    justify-content: center;
  }

  &.paid {
      color: $primary-blue;
  }
}