@import "../../../styles/rem";
@import "../../../styles/variables";

.submitProfile {
  position: fixed;
  width: rem(397px);
  right: 0;
  bottom: rem(20px);
  margin: rem(20px 20px 0 auto);
  padding: rem(21px 16px);
  box-shadow: rem(0 12px 24px -4px) rgba($primary-black, 0.24);
  border-radius: rem(8px);
}

.image {
  margin: 0 rem(8px) 0 0;
  width: rem(24px);
  height: rem(24px);
}

.confirmButton {
  width: auto;
  padding: rem(6px 11px);
  margin: rem(0 12px 0 auto);
}

.cancelButton {
  width: auto;
  padding: rem(6px 11px);
}

.popper {
  top: unset !important;
  left: unset !important;
  bottom: 24px !important;
  right: 20px !important;
}