RABBIT_MQ_CORE_QUEUE
RABBIT_MQ_SOCKET_QUEUE
RABBIT_MQ_AUTH_QUEUE
RABBIT_MQ_PAYMENT_QUEUE
RABBIT_MQ_NOTIFICATIONS_QUEUE
RABBIT_MQ_MEDIA_SERVER_QUEUE
RABBIT_MQ_SCALING_QUEUE
RABBIT_MQ_USER
RABBIT_MQ_PASS
RABBIT_MQ_HOST
RABBIT_MQ_CORE_HOST
RABBIT_MQ_CORE_PORT
VULTR_UPLOAD_BUCKET
VULTR_STORAGE_HOSTNAME
VULTR_SECRET_ACCESS_KEY
VULTR_ACCESS_KEY
VULTR_API_KEY
VULTR_SNAPSHOT_ID
LIVEKIT_API_KEY
LIVEKIT_API_SECRET
LIVEKIT_HOST
STRIPE_WEBHOOK_SECRET
STRIPE_EXPRESS_WEBHOOK_SECRET
STRIPE_API_KEY
ENVIRONMENT
IS_LOCAL
PORT
NODE_ENV
DEFAULT_SERVER_IP
DEFAULT_DOMAIN
FRONTEND_URL
GATEWAY_PORT
JWT_SECRET
MONGO_URI
SMTP_USER
SMTP_PASS
SMTP_USER_NAME
MANDRILL_API_KEY
EMAIL_SERVICE
SUPPORT_SCALING
NUMBER_OF_ACTIVE_SERVERS
SUPPORT_EMAIL
