@import "../../../styles/variables";
@import "../../../styles/rem";

.divider {
  margin: rem(10px 0);

  background: rgba($normal-gray-scale, 0.4);
}

.usersWrapper {
  padding-right: 14px;
  .userItem {
    &:first-child {
      margin: rem(0 0 5px 0);
    }

    &:not(:first-child) {
      margin: rem(5px 0 5px 0);
    }
  }
}