@import "../../../styles/rem";
@import "../../../styles/variables";

.monetization {
  background: transparent;
  border-radius: rem(10px);
  height: rem(50px);
  color: $primary-white;

  overflow: hidden;

  transition: height 200ms linear;

  .labelWrapper {
    margin: rem(0 0 20px 0);
  }

  &.active {
    height: rem(100px);
  }

  .amountInput {
    position: relative;
    height: 50px;
    padding: rem(9px 11px);

    &:after {
      content: "";
      position: absolute;
      inset: 0;
      pointer-events: none;
      border: 1px solid rgba(189, 200, 211, 0.6);
      border-radius: 8px;
    }

    .inputWrapper {
      padding: rem(0 4px);
      color: $primary-white;

      .input::-webkit-outer-spin-button,
      .input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      /* Firefox */
      .input[type=number] {
        -moz-appearance: textfield;
      }
    }
  }
}