@import "../../../styles/variables";
@import "../../../styles/rem";

.wrapper {
  padding: rem(40px);
  max-width: rem(594px);
}

.devicesWrapper {
  margin: rem(0 0 0 40px);
  width: auto;

  .title {
    margin: rem(0 0 4px 0);
  }
}

.backgroundBlurSetting {
  padding: rem(13px 10px);
  background: $light-gray-scale;
  border: 1px solid rgba($normal-gray-scale, 0.6);
  border-radius: rem(10px);

  .switch {
    margin: 0 0 0 auto;
  }
}

.saveSettings {
  margin: rem(64px 0 0 0);
}

.loader {
  margin: rem(28px auto 0 auto);
}