@import "../../../styles/variables";
@import "../../../styles/rem";

.container {
  width: 100%;
  height: 100%;
  min-height: 700px;
  position: absolute;
  top: 0;
  left: 0;
  padding: rem(150px 10px 0);

  &.active {
    background: rgba($primary-black, 0.6);
    z-index: 2;

    .content {
      border: rem(2px) dashed rgba($primary-white, 0.6);
    }
  }

  &.mobile {
    padding: rem(170px 10px 0);
  }
}

.content {
  border-radius: rem(4px);
}

.title {
  margin: rem(0 0 4px);
}

.description {
  margin: rem(0 0 32px);
  color: white;
  font-size: 18px;
}

.uploadButton {
  max-width: rem(106px);
  width: 100%;
  height: rem(46px);
}

.button {
  background-color: #333333;
  max-width: rem(106px);
  width: 100%;
  height: rem(46px);
}

.popper {
  z-index: 1000;
}

.iconWrapper {
  color: $primary-white;
  background: $primary-black;
  width: rem(48px);
  height: rem(48px);
  border-radius: 50%;
  align-items: center;
  justify-content: center;

  .icon {
    display: flex;
  }
}

.buttonsGroup {

  &.isBackgroundUploaded {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%);
  }

  .button {
    max-width: rem(113px);
    height: rem(46px);
    width: 100%;
  }

  .actionButton {
    width: rem(46px);
    height: rem(46px);
    border-radius: rem(12px);
    padding: rem(6px);
  }
}

.paper {
  width: 320px;
  max-width: 80%;
  height: 150px;
  padding: rem(14px 12px);
}

.icon {
  color: $primary-white;
}

.uploadBackground {
  padding: rem(100px 30px);

  &.mobile {
    padding: rem(60px 10px);
  }
}

.uploadTitile {
  height: fit-content;
}

.uploadBackgroundContentWrapper {
  border-radius: 16px;
  background-color: #333333;
  padding: 30px;
  width: 700px;
  min-width: rem(700px);

  &.mobile {
    max-width: 100%;
  }
}

.uploadBackgroundDescription {
  color: white;
  margin-top: 30px;
}

.innerUploadBackgroundContent {
  border-radius: 16px;
  padding: 30px;
}

@media screen and (max-width: 900px) {
  .uploadBackgroundContentWrapper {
    width: 100%;
    min-width: 100%;
  }
  .innerUploadBackgroundContent {
    flex-direction: column;
  }
}

.youtubeInputWrapper {
  margin-top: 8px;
  width: rem(284px);

  .css-1qq5tj-MuiInputBase-input-MuiOutlinedInput-input {
    padding: 10px 14px;
  }
}

.customBackroundTitle {
  font-size: 48px;
  text-shadow: 1px 1px 2px white;
}