@import "../../../styles/variables";
@import "../../../styles/rem";

.notificationsWrapper {
  position: absolute;

  top: rem(20px);
  right: rem(20px);
  z-index: 10;
}

.bellIcon {
  position: relative;

  width: rem(34px);
  height: rem(34px);

  border-radius: rem(8px);

  color: $primary-black;

  &.withUnread {
    &:after {
      content: "";
      width: rem(10px);
      height: rem(10px);

      border-radius: 50%;

      background: $primary-orange;

      position: absolute;
      top: -1px;
      right: -1px;
    }
  }
}