@import "../../../styles/variables.scss";
@import "../../../styles/rem.scss";

.menuWrapper {
    margin-left: rem(10px);
    cursor: pointer;
    border-radius: rem(10px);
    color: var(--color);
    padding: rem(6px 10px);
    min-width: rem(110px);

    &.active {
        background-color: $primary-black;
        color: $primary-white;
    }
}