@import "../../../styles/variables.scss";
@import "../../../styles/rem.scss";

.menuWrapper {
    margin-left: rem(5px);
    cursor: pointer;
    border-radius: rem(6px);

    &:hover {
        border: 1px solid $primary-orange;
        background-color: #f4f6f9;
    }

    &.active {
        border: 1px solid $primary-orange;
        background-color: #f4f6f9;
    }

    .menu {
        width: max-content;
        padding: rem(6px);
    }
}