@import "../../../styles/rem";

.hintsWrapper {
  height: 0;
  max-height: rem(38px);
  overflow: hidden;
  transition: height 200ms ease-in;

  &.showHints {
    margin: rem(8px) 0 0 0;
    height: rem(45px);
  }
}