@import "../../../styles/rem";

.buttonsWrapper {
  margin: rem(40px 0 0 0);

  .baseBtn {
    width: rem(188px);

    &:last-child {
      margin: rem(0 0 0 16px);
    }
  }
}

.text {
  display: block;
  width: rem(320px);
}

.wrapper {
  padding: rem(40px);
  display: flex;
  flex-direction: column;
  align-items: center;
}