@import "../../styles/rem";
@import "../../styles/variables.scss";

.outterWrapper {
  width: rem(700px);
  height: fit-content;
  max-width: 100%;
  max-height: 100%;
  padding: rem(24px 40px 24px 40px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #FF8E3B;
  margin: 10px;
}

.innerWrapper {
  width: rem(467px);
  padding: 30px;
  background-color: white;
  border-radius: 18px;
}

.titleWrapper {
  margin: 10px 0px 30px 0px;
}

.titleIcon {
  margin-left: 6px;
}

.image {
  width: rem(28px);
  height: rem(28px);
  margin: 0 rem(12px);
}

.textLight {
  max-height: rem(40px);
  font-weight: lighter;
}

.textBold {
  max-height: rem(40px);
  margin-left: 8px;
}

.googleLogin {
  margin: 0 0 rem(12px) 0;
}

.socialsWrapper {
  margin: rem(20px) 0 0 0;

  &.mobile {
    margin: rem(10px) 0 0 0;
  }
}

.createAccountSeparator {
  margin: rem(36px) 0;
}

.input {
  width: 100%;

  &:first-child {
    margin: 0 0 rem(24px) 0;
  }
}

.termsWrapper {
  margin: rem(28px) 0;
}

.checkbox {
  margin: 0 rem(12px) 0 0;
}

.label {
  margin: 0;
}

.errorContainer {
  margin: rem(8px) 0 0 0;
}

.termsText {
  display: inline-block;

  &.termsLink {
    margin: 0 rem(6px);
  }
}

.registerButton {
  padding: rem(16px) 0;
}

.textOr {
  color: $normal-gray-scale;
}

.muiInput {
  height: 30px;
  padding: 10px;
  font-size: 13px;
}

.buttonGG{
  height: 50px;
}

.logo {
  margin: 30px 0px 10px 0px;
}

@media screen and (max-width: 785px) {
  .outterWrapper {
    width: 100%;
    padding: rem(10px);
    margin: 0px;
  }

  .innerWrapper {
    width: 100%;
  }
}

@media screen and (max-width: 375px) {
  .titleWrapper {
    display: none;
  }

  .innerWrapper {
    width: 100%;
  }

  .logo {
    display: none;
  }
}

// @media screen and (max-height: 695px) {
//   .titleWrapper {
//     display: none;
//   }

//   .innerWrapper {
//     width: 100%;
//   }

//   .logo {
//     display: none;
//   }
// }

@media screen and (max-height: 715px) {
  .titleWrapper {
    display: none;
  }

  .innerWrapper {
    width: 100%;
  }

  .logo {
    display: none;
  }
}