@import '../../../styles/rem';
@import '../../../styles/variables';

.wrapper {
  padding: rem(28px 40px);
  width: rem(425px);
  display: flex;
  pointer-events: all;
}

.productName {
  width: min-content;
  padding: rem(4px 10px);
  border-radius: rem(6px);
  white-space: pre;
}

.price {
  font-style: normal;
  font-weight: 700;
  font-size: rem(28px);
  line-height: rem(42px);
}

.priceWrapper {
  margin: rem(4px 0 0);
}

.description {
  color: rgb($primary-black, 0.25);
}

.listWrapper {
  margin: rem(12px 0 24px 0);
  max-height: rem(248px);
  padding: 0;
}

.listItem {
  gap: rem(8px);

  padding: rem(4px 0);
  font-weight: 700;
  &:first-child {
    padding: rem(0 0 4px 0);
  }

  &:last-child {
    padding: rem(4px 0 0px 0);
  }

  .subText {
    color: rgb($primary-black, 0.25);
  }
}
.listItemFade{
  .mainText{
    color: rgb($primary-black, 0.25);
  }
  .listIcon{
    opacity: 0.25;
  }
}
.listIcon {
  width: rem(16px);
  height: rem(16px);
  min-width: rem(16px);
  color: $primary-white;
  background: $primary-black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: rem(4px 0 0 0);
}

.expandBtn {
  width: min-content;
  cursor: pointer;
  margin: rem(0 0 45px 0);
  white-space: nowrap;
}

.buttons {
  margin: auto 0 0 0;
}

.button {
  height: rem(56px);

  .active {
    background: rgba($primary-orange, 0.1);
    border-radius: rem(10px);
    color: $primary-orange;

    &:hover {
      background: rgba($primary-orange, 0.1);
      color: $primary-orange;
    }
  }
}

.popper {
  z-index: 2000 !important;

  .trialText {
    font-size: rem(12px);
    line-height: rem(18px);
  }
}

.trialButton {
  height: rem(56px);
  margin: rem(0 0 12px);

  .icon {
    margin: rem(0 4px 0 0);
    height: rem(20px);
  }
}

.allFeaturesCard {
  max-width: rem(425px);
  width: max-content;
  display: flex;
  padding: rem(28px 40px);
  background-color: rgba($primary-black, 0.6);
  border: rem(1px) solid rgba($primary-black, 0.6);
  border-radius: rem(16px);

  .productName {
    background-color: $primary-black;
  }

  .listIcon {
    color: $primary-white;
    background: $primary-orange;
  }

  .listWrapper {
    margin: rem(12px 0 0);
    max-height: unset;
    flex-wrap: nowrap;
  }

  .column {
    row-gap: rem(14px);
  }

  &.fullWidth {
    max-width: rem(1316px);
    width: 100%;
    min-height: rem(184px);
    margin: rem(0) auto;
    position: relative;
    padding: rem(20px 40px);

    .productName {
      position: absolute;
      top: rem(-13px);
      left: rem(40px);
    }

    .listWrapper {
      column-gap: rem(20px);
      margin: rem(8px 0 0);
      flex-direction: row;
      display: grid;
      grid-template-columns: 1.1fr 1.0fr 1.26fr;

      .column {
        row-gap: rem(10px);
      }

      .column {
        flex-direction: column;
        flex-basis: 31.7%;
        row-gap: rem(10px);
      }
    }
  }
}

.tabsWrapper {
  max-width: rem(425px);
  pointer-events: all;
  background: $primary-white;
  border-radius: rem(16px);
  height: 575px;
  overflow: hidden;
}

.tabs {
  padding: rem(28px 40px 20px 40px);
}

.tabItem {
  cursor: pointer;
  padding: rem(4px 10px);
  border-radius: rem(6px);
  background: var(--bg-color);
  opacity: 0.3;
  flex: 0 0;
  transition: flex 300ms linear, opacity 300ms linear;

  &.active {
    opacity: 1;
    flex: 1 1;
  }
}
.subscriptionWrapper {
  position: relative;
  height: 100%;
}

.subscriptionItem {
  position: absolute;
  inset: 0;
}

.commissionFee{
  text-align: center;
  font-size: rem(15px);
  margin-bottom: rem(4px);
  &.bold{
    font-family: 600;
  }
}