@import "../../../styles/variables";
@import "../../../styles/rem";

.paperWrapper {
  margin: rem(34px) 0 0 0;
  padding: rem(32px 40px);

  .icon {
    color: $primary-black;
  }

  .contentWrapper {
    max-width: rem(392px);

    .editProfileAvatar {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}

.buttonsWrapper {
  .button {
    width: auto;
    padding: rem(6px 9px);
  }
}




