@import "../../../styles/variables";
@import "../../../styles/rem";

.wrapper {
  padding: rem(40px);
  max-width: rem(594px);
}

.devicesWrapper {
  margin: rem(0 0 0 40px);
  width: 100%;

  .title {
    margin: rem(0 0 4px 0);
  }
}

.saveSettings {
  margin: rem(64px 0 0 0);
}

.loader {
  margin: rem(28px auto 0 auto);
}

.blockAccess{
  display: flex;
  flex-direction: column;
}

.devicesError {
  margin-top: rem(15px);
}

.openSystemSettingsButton {
  width: 50%;
  margin: auto;
  margin-top: 10px;
}

.errorContent {
  margin-top: rem(40px);
}