@import "../../../styles/rem";
@import "../../../styles/variables";

.radioGroup {
  gap: rem(24px);
}

.icon {
  fill: none;
}

.label {
  margin: 0;
}

.signBoardWrapper {
  position: relative;
  border-radius: rem(10px);
  border: 1px solid $normal-gray-scale;
  overflow: hidden;
  cursor: pointer;

  &:after {
    content: "";
    position: absolute;
    border: rem(2px) solid $primary-orange;
    inset: 0;
    opacity: 0;
    border-radius: rem(10px);
    transition: opacity 200ms ease-in;
  }

  &.checked {
    &:after {
      opacity: 1;
    }
  }
}

.defaultSignWrapper {
  background: rgba($primary-black, 0.6);
}