@import "../../styles/rem";

.wrapper {
  margin: rem(85px auto 0);
}

.statisticBlock {
  padding: rem(40px 34px);
  width: rem(472px);
  min-height: rem(550px);
  display: flex;
  flex-direction: column;
}

.tabs {
  margin: rem(20px 0 28px 0);
}

.roomsStatistics {
  width: 100%;
  max-width: rem(960px);
}

.noEarningBlock {
  margin: 250px 0 0 0;
}

.fadeWrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.fadeContainer {
  position: absolute;
}

.chip {
  padding: rem(10px 22px);
}