@import "../../styles/rem";
@import "../../styles/variables";

.wrapper {
  padding: 10px;
}

.innerWrapper {
  border: 2px solid #FF8500;
  border-radius: 16px;
  padding: 20px 60px;
}

.paymentTitle {
  display: block;
  text-align: center;
  margin-bottom: 8px;
}

.transparentWhite {
  color: rgba($primary-white, 0.6);
}

.loader {
  padding: rem(20px 0);
}

.prePaymentSubTitile {
  width: 100%;
  text-align: center;
}
