@import "../../../styles/variables";
@import "../../../styles/rem";

.volumeWrapper {
  width: 100%;

  .indicator {
    width: rem(8px);
    height: rem(20px);
    border-radius: rem(4px);
    transition: background 100ms ease-in;
  }

  .inactiveIndicator {
    width: 100%;
    height: 100%;
    border-radius: rem(4px);
    background: rgba($normal-gray-scale, 0.32);
  }
}