@import "../../../styles/rem";

.chartClass {
  margin: rem(40px auto);
}

.loader {
  margin: auto;
}

.noData {
  margin: auto;
}

.attendeesDescWrapper {
  width: fit-content;
}

.avgMinTitle {
  margin-top: 16px;
}

.avgMinUnit {
  margin-left: 2px;
}

.reactionWrapper {
  margin-bottom: 16px;
}

.emojiBox {
  padding: 5px 5px;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: transparent;
}

.popularReactionsText {
  color: #B8B6B6;
}