@import "../../styles/rem";
@import "../../styles/variables";

.wrapper {
  position: absolute;
  width: rem(960px);
  max-width: 100%;
  margin: rem(85px auto 0);
  inset: 0;
}

.paper {
  width: 100%;
  padding: rem(16px 34px 40px 34px);
}

.headCell {
  &:first-child {
    padding-left: rem(20px);
  }
}

.cell {
  color: $primary-black;
  text-align: left;

  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:first-child {
    padding-left: rem(20px);
  }
}
.chip {
  padding: rem(4px 10px);
  height: rem(32px);
}

.search {
  max-width: rem(580px);
  margin: rem(20px 0 28px 0);
  padding: rem(8px);
}

.noData {
  margin: auto;
}

.active {
  color: $dark-green;

  &.blocked {
    color: $primary-red;
  }
}
