@import "../../../styles/rem";
@import "../../../styles/variables";

.controlCollapse {
    width: auto;
}

.root {
    width: rem(34px);
    height: rem(34px);
    border-radius: 22.5%;
    background-color: #6b6b6c;
    color: $primary-white;

    &:hover {
        background-color: $primary-black;
    }

    &.disabled {
        color: $normal-gray-scale;
    }
}