@import "../../../styles/variables";
@import "../../../styles/rem";

.meetingInvitesWrapper {
  margin: rem(20px 0 0 0);
}

.title {
  display: block;
  margin: 0 auto 0 0;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: rem(32px);
  height: rem(32px);
  background: rgba($primary-white, 0.25);
  border-radius: rem(8px);
  border: none;
  color: $primary-white;
  margin: rem(0 6px);

  &:hover {
    background: rgba($primary-white, 0.4);
  }
}

.divider {
  margin: rem(20px 0);

  background: rgba($normal-gray-scale, 0.4);
}