@import "../../../styles/rem";
@import "../../../styles/variables";
@import "../../../styles/mixins";

.wrapper {
  position: relative;
  width: 100%;
}

.addLinkButton {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 106px;
  padding: 0;
  align-self: flex-end;
  height: rem(46px);

  &.disabled {
    background: rgba($primary-orange, 0.6);
    color: rgba($primary-white, 0.6);
  }
}

.buttonsGroup {
  position: absolute;
  bottom: rem(28px);
  left: 50%;
  transform: translate(-50%);

  .actionButton {
    width: rem(46px);
    height: rem(46px);
    border-radius: rem(12px);
    padding: rem(6px);
  }
}

.itemTooltip {
  height: auto;
  padding: 0;
  background: rgba($primary-black, 0.75);
  backdrop-filter: blur(14px);
  border-radius: 8px;
  max-width: rem(393px);
  width: rem(392px);
}

.linkItem {
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
  width: rem(40px);
  height: rem(40px);
  border-radius: 50%;
  background: rgba($primary-white, 0.7);
  z-index: 200;
}

.tooltipContent {
  width: rem(392px);
  padding: rem(16px 12px);
}

.inputWrapper {
  max-width: 450px;
  color: $primary-white;

  .input::placeholder {
    color: rgba($primary-white, 0.6);
  }

  .textArea {
    padding: rem(0 10px 0 0);
  }
}

.inputRoot {
  padding: 12px 8px;
  font-size: 13px;
  border-radius: 8px;

  &.disabled {
    border: 1px solid $primary-white;
  }
}

.inputDisabled {
  color: $primary-white !important;
  -webkit-text-fill-color: $primary-white !important;
}

.acceptIcon {
  margin: rem(4px 0 0 0);
  color: $primary-orange;
}

.rejectIcon {
  margin: rem(4px 0 0 0);
  color: rgba($primary-white, 0.25);
}

.draggable {
  pointer-events: all;
}

.staticLink {
  @extend %text-ellips;
}

.actionButton {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}