@import "../../../styles/rem";
@import "../../../styles/variables";

.wrapper {
  display: flex;
  padding: rem(40px);
  width: 100%;
  min-height: rem(260px);
}

.title {
  margin: rem(0 0 10px 0);
}

.cell {
  &:last-child {
    padding: rem(17px 20px);
    text-align: right;
  }

  &:nth-child(odd) {
    color: $semidark-gray-scale;
  }

  &:first-child {
    color: $normal-gray-scale;
    text-align: center;
  }
}

.headCell {
  &:first-child {
    text-align: center;
  }

  &:last-child {
    text-align: right;
  }
}