@import "../../../styles/variables";
@import "../../../styles/rem";

.usersWrapper {
  .userItem {
    &:first-child {
      margin: rem(0 0 5px 0);
    }

    &:not(:first-child) {
      margin: rem(5px 0 5px 0);
    }
  }
}

.profileAvatar {
  margin: rem(0 8px 0 0);
  flex: 0 0 auto;
}

.deleteUser {
  border: none;
  height: rem(32px);
  width: rem(32px);
  background: rgba($primary-white, 0.25);
  border-radius: rem(8px);
  color: $primary-white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnGroup {
  padding: rem(0 0 0 8px);
  margin: 0 0 0 auto;
  width: auto;
}

.acceptUser {
  border: none;
  margin: rem(0 8px 0 0);
  height: rem(32px);
  width: rem(32px);
  background: $primary-orange;
  border-radius: rem(8px);
  color: $primary-white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.userName {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}