@import "../../../styles/rem";
@import "../../../styles/variables";

.paper {
  max-width: rem(456px);
  width: 100%;
  height: fit-content;
  padding: rem(32px);
}

.buttonsGroup {
  position: absolute;
  bottom: rem(28px);
  left: 50%;
  transform: translate(-50%);

  .button {
    max-width: rem(113px);
    width: 100%;
  }

  .actionButton {
    width: rem(46px);
    height: rem(46px);
    border-radius: rem(12px);
    padding: rem(6px);
  }
}

.disabledTags {
  border: 1px solid rgba($primary-white, 0.6);
}