@import "../../../styles/variables";
@import "../../../styles/rem";

.userItem {
  &:first-child {
    margin: rem(5px 0 5px 0);
  }

  &:not(:first-child) {
    margin: rem(5px 0 5px 0);
  }
}

.profileAvatar {
  margin: rem(0 8px 0 0);
  flex: 0 0 auto;
}

.deleteUser {
  color: $primary-white;
  height: rem(26px);
  width: rem(26px);
  border-radius: 50%;
}

.toAudienceBtn {
  color: $primary-white;
  height: rem(26px);
  width: rem(26px);
  margin-right: 8px;
  border-radius: 50%;
}

.btnGroup {
  padding: rem(0 0 0 8px);
  margin: 0 0 0 auto;
  width: auto;
}

.acceptUser {
  height: rem(26px);
  width: rem(26px);
  border-radius: 50%;
}

.userName {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 13px;
  font-weight: 500;
}

.scroll {
  max-height: 285px;
  height: 285px;
  padding-right: 12px;
}