$normal-gray-scale: #BDC8D3;
$primary-black: #0F0F10;
$primary-red: #F55252;
$primary-red-light: #FB6F6F;
$primary-red-dark: #E31C1C;
$primary-white: #FFFFFF;
$primary-green: #69E071;
$primary-orange: #FF884E;
