$normal-gray-scale: #BDC8D3;
$light-gray-scale: #FBFBFC;
$primary-black: #0F0F10;

// red
$primary-red: #F55252;
$light-red: #FB6F6F;
$dark-red: #E31C1C;

// white
$primary-white: #FFFFFF;
$dark-white: #EBF0F5;
$light-white: #BDC8D3;

// green
$primary-green: #69E071;

// orange
$primary-orange: #FF884E;
$dark-orange: #FFAE87;
$light-orange: #EE6F32;
