@import "../../../styles/variables";
@import "../../../styles/mixins";
@import "../../../styles/rem";

.dialogContent {
  padding: 0;
}

.templatePreview {
  position: relative;
  width: rem(740px);
  height: rem(480px);
}

.templateInfoContent {
  display: grid;
  grid-template: "templateInfo templateInfo templateInfo templateInfo" min-content
          "title title title title" min-content
          "description description description description" min-content
          "buttons buttons buttons buttons";
  gap: rem(8px);
  padding: rem(40px);
  width: rem(472px);

  .templateInfo {
    grid-area: templateInfo;

    .templateType {
        width: auto;
    }
  }

  .name {
    margin: rem(24px 0 0 0);
    grid-area: title;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .description {
    margin: rem(12px 0 0 0);
    grid-area: description;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .buttons {
    grid-area: buttons;

    .backBtn {
      width: rem(56px);
      height: rem(56px);
      flex: rem(0 0 56px);
      border: rem(1px) solid rgba($normal-gray-scale, 0.4);
      box-shadow: none;
      border-radius: rem(10px);
    }

    .scheduleIcon {
      margin-right: rem(4px);
    }

    .scheduleButton {
      height: rem(56px);
    }

    .chooseBtn {
      height: rem(56px);

      &.disabled {
        background: rgba($primary-orange, 0.6);
        color: rgba($primary-white, 0.6);
      }
    }
  }
}



