@import "../../../styles/rem";
@import "../../../styles/variables";

.tooltip {
  margin: rem(2px) 0 0 0 !important;
}

.deviceButton {
  width: rem(34px);
  height: rem(34px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconButton {
  width: 100%;
  height: 100%;
  border-radius: rem(8px);
  border: none;

  &.disabled {
    color: rgba($primary-white, 0.25);
  }
}

.audioControl {
  width: rem(46px);
  height: rem(196px);
  padding: rem(20px 10px);
  margin: rem(0 0 8px 0);

  .range {
    height: 100%;
  }
}