@import "../../../styles/rem";
@import "../../../styles/variables";

.actionButton {
  width: rem(26px);
  height: rem(26px);

  background: #FFFFFF;
  border: 1px solid rgba(189, 200, 211, 0.4);

  box-shadow: 0 12px 24px -4px rgba(15, 15, 16, 0.1);
  border-radius: rem(6px);

  &.blocked {
    color: $normal-gray-scale;
  }
}