@import "../../../styles/rem";
@import "../../../styles/variables";

.noteWrapper {
  position: absolute;
  width: rem(224px);
  padding: rem(41px 0 3px 0);
  background: linear-gradient(78.71deg, #FFF790 2.05%, #FFEC55 96.25%);
  box-shadow: rem(0 12px 24px -4px) rgba($primary-black, 0.1);
  border-radius: rem(1px);

  &.blur {
    opacity: 0.7;
  }

  &:hover {
    .unpinButton {
      opacity: 1;
      pointer-events: all;
    }
    .copyIcon {
      opacity: 1;
      pointer-events: all;
    }
  }

  &.withSticker {
    &:after {
      content: "";
      position: absolute;
      width: rem(60px);
      height: rem(24px);
      top: rem(-20px);
      left: 50%;
      transform: translate(-50%, rem(12px));
      background: rgba($primary-white, 0.44);
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(6px);
    }
  }

  .content {
    padding: rem(0 20px);

    .text {
      word-break: break-word;
    }
  }
}
.scroll {
  width: 100%;
  max-height: rem(124px);
}

.copyIcon {
  position: absolute;
  top: 12px;
  left: 22px;
  cursor: pointer;
  color: $primary-white;
  background: $primary-black;
  padding: rem(2px 6px);
  width: rem(30px);
  height: rem(22px);
  border-radius: rem(4px);
  opacity: 0;
  pointer-events: none;

  &:after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 50%;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;

    border-top: 3px solid $primary-black;
    transform: translate(-50%, 0);
    border-radius: 1px;
  }
}

.unpinButton {
  position: absolute;
  top: 8px;
  right: 8px;
  pointer-events: none;
  opacity: 0;
  cursor: pointer;
  transition: opacity 200ms linear;
}