@import "../../../styles/variables";
@import "../../../styles/rem";

.chip {
  min-width: rem(50px);

  &.active {
    background-color: $primary-orange;
    color: $primary-white;

    &:hover:not(.withoutAction) {
      color: $primary-white;
      background-color: $dark-orange;
    }
  }

  &.withoutAction {
    cursor: default;
  }
}

.label {
  margin: 0;
}




