@import "../../../styles/variables";
@import "../../../styles/rem";

.controlPanelWrapper {
  position: absolute;
  top: rem(27px);
  left: 50%;
  transform: translateX(-50%);
  padding: rem(6px);
  z-index: 1000;

  .actionButton {
    position: relative;
    background: transparent;
    color: $primary-white;
    border: none;
    width: rem(44px);
    height: rem(44px);
    border-radius: rem(6px);

    &.active {
      background: rgba($primary-white, 0.25);
    }

    &.withAction {
      &:hover {
        background: rgba($primary-white, 0.25);
      }
    }

    &.newRequests {
      background: rgba($primary-orange, 0.1);

      &:hover {
        background: rgba($primary-orange, 0.25);
      }

      &:after {
        content: "";
        width: rem(13px);
        height: rem(13px);

        border-radius: 50%;

        background: $primary-orange;

        position: absolute;
        top: -1px;
        right: -1px;
      }
    }
  }

  .notesContainer {
    padding: rem(20px);
  }
}

.commonOpenPanel {
  position: absolute;
  width: rem(378px);
  padding: rem(20px);
  opacity: 0;
  transform: translate(-50%, 0);

  &.open {
    opacity: 1;
  }
}

.panelsWrapper {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, rem(8px));
}