@import "../../../styles/rem";

.checkbox {
  padding: 0;
  width: rem(22px);
  height: rem(22px);
  color: transparent;
  border-radius: rem(5px);
}

.label {
  //margin: 0;
}

.labelText {
  margin: 0 0 0 10px;
}