@import "../../../styles/variables";
@import "../../../styles/rem";

.avatarWrapper {
  position: relative;
  width: auto;
  margin: 0 rem(21px) 0 0;

  .profileAvatar {
    position: relative;
    flex: 0 0 auto;

    .editProfileAvatar {
      border-radius: 50%;
      background: $primary-black;
      color: $primary-white;
      width: rem(28px);
      height: rem(28px);

      &:after {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 50%;
        border: rem(2px) solid $primary-white;
      }

      &.upload {
        background: $primary-orange;
      }
    }
  }
}

.editProfileAvatarMenu {
  width: rem(176px);
  padding: rem(8px);

  .listItem {
    padding: rem(12px);
  }
}

.invalidTypeWrapper {
  width: rem(250px);
  padding: rem(20px);
  display: flex;
  justify-content: center;
  align-items: center;
}