@import "../../../styles/variables";
@import "../../../styles/rem";

.commonOpenPanel {
    position: absolute;
    width: rem(42px);
    left: rem(25px);
    top: 15%;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    border-radius: 6px;
    padding: 0;
    z-index: 99;


    &.expanded {
        width: rem(270px);
        padding: rem(20px);
    }

    .headers:not(.expanded) {
        padding-left: rem(9px);
        width: 100%;
    }

    .closeIcon {
        cursor: pointer;
    }

    .scroll {
        display: flex;
        width: 100%;
        max-height: rem(223px);
        flex-wrap: wrap;
        padding: rem(5px 10px 5px 5px);
    }
}

.accordion {
    background-color: transparent;
    width: 100%;
    padding: 0;
    max-height: 425px;

    .summary {
        min-height: 42px;
        height: 42px;
        padding: 0;
    }

    .content {
        margin: 0;

        &.expanded {
            margin: rem(12px 0px);
        }

    }

    .detail {
        padding: 0;
    }
}

.audioRange {
    &.inactive {
        color: $normal-gray-scale;
    }

    .icon {
        color: #ffffff;
        cursor: pointer;
    }
}

.thumb {
    width: rem(12px) !important;
    height: rem(12px) !important;
}
.thumbRoot {
    padding: 0;
}

.audioPlay{
    display: none;
}

.disable {
    opacity: 0.5;
    pointer-events: none;
}

.pauseAction {
    margin-right: rem(12px);
}