@import "../../../styles/variables";
@import "../../../styles/mixins";
@import "../../../styles/rem";

.templateContent {
  position: relative;
  border-radius: rem(8px);
  overflow: hidden;
  max-width: rem(334px);

  align-self: center;
  justify-self: center;

  z-index: 10;

  @media only screen and (max-width: 600px) {
    width: 45%;
    height: 115px;
  }

  &.mobile {
    width: 45%;
    height: 115px;
  }

  
  @media only screen and (max-width: 280px) {
    width: 95% !important;
    height: 115px;
  }

  &:after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba($primary-black, 0.15);
  }

  .templateButtons {
    position: absolute;
    inset: 0;
    background: rgba($primary-black, 0.6);
    backdrop-filter: blur(24px);

    z-index: 11;

    .button:first-child {
      margin: 0 rem(12px) 0 0;
    }

    .button {
      width: auto;
      padding: rem(8px 13px);

      &.disabled {
        background: rgba($primary-orange, 0.6);
        color: rgba($primary-white, 0.6);
      }
    }
  }
}