@import "../../../styles/variables";
@import "../../../styles/rem";

.commonOpenPanel {
    position: absolute;
    width: 42px;
    right: 20px;
    top: 1%;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    border-radius: 6px;
    padding: 0;
    z-index: 99;


    &.expanded {
        width: 270px;
        padding: rem(14px 16px);
    }

    &.mobile {
        width: 50%;
        padding: rem(14px 16px);
    }

    .headers:not(.expanded) {
        padding-left: 10px;
        width: 100%;
    }

    .closeIcon {
        cursor: pointer;
    }

    .barge {
        margin-left: 5px;
        margin-top: 5px;
        background-color: black;
        border-radius: 20px;
        padding: 2px 6px;
        height: 22px;
        cursor: pointer;

        &.active {
            background-color: $primary-white;
        }

        .button {
            text-transform: unset;
            font-weight: bold;
            margin-left: 3px;
        }

    }

    .container {
        width: 63px;
        height: 63px;
        background-color: #FFFFFF;
        margin: 4px;
        border-radius: 10px;
        position: relative;
        border: 2px solid #807e7e;


        &:hover {
            border: 2px solid $light-white;
        }

        &.active {
            border: 3px solid #71abe6;
        }

        .image {
            border-radius: 7px;
            object-fit: cover;
            object-position: left;
        }

        .skeleton {
            position: absolute;
            border-radius: 12px;
        }

        &.upload {
            display: flex;
            background-color: #4b4747;
            justify-content: center;
            align-items: center;
            padding-left: 2px;
        }
    }

    .scroll {
        display: flex;
        width: 100%;
        max-height: 223px;
        background: rgba(0, 0, 0, 0.3882352941);
        flex-wrap: wrap;
        border-radius: 9px;
        padding: 10px 0px 10px 10px;
    }
}

.accordion {
    background-color: transparent;
    width: 100%;
    padding: 0;
    max-height: 425px;

    .summary {
        min-height: 42px;
        height: 42px;
        padding: 0;
    }

    .content {
        margin: 0;

        &.expanded {
            margin: 12px 0px;
        }

    }

    .detail {
        padding: 0;
    }
}

.player {
    overflow: hidden;
}

.emoji {
    font-size: rem(13px);
    width: rem(13px);
    height: rem(13px);
}

.deleteButton {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    background: rgba($primary-black, 0.6);
    backdrop-filter: blur(5px);
    width: rem(16px);
    height: rem(16px);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

    .icon {
        color: $primary-white;
    }
}

.mainDrawer {
    overflow: hidden;
}

.drawer {
    width: rem(250px);
    position: relative;
    height: 100%;
    padding: rem(10px);
    display: flex;
    flex-direction: column;

    &.portrait {
        width: 100%;
        padding: rem(20px);
    }

    .headers {
        padding-left: rem(10px);
        width: 100%;
    }

    .closeIcon {
        cursor: pointer;
    }

    .detail {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        padding: rem(10px);
    }

    .barge {
        margin-left: rem(5px);
        margin-top: rem(5px);
        background-color: black;
        border-radius: rem(20px);
        padding: rem(2px 6px);
        height: rem(22px);
        cursor: pointer;

        &.active {
            background-color: $primary-white;
        }

        .button {
            text-transform: unset;
            font-weight: bold;
            margin-left: rem(3px);
        }

    }

    .container {
        width: rem(53px);
        height: rem(53px);
        background-color: #FFFFFF;
        margin: rem(4px);
        border-radius: rem(10px);
        position: relative;
        border: rem(2px) solid #807e7e;


        &:hover {
            border: rem(2px) solid $light-white;
        }

        &.active {
            border: rem(3px) solid #71abe6;
        }

        .image {
            border-radius: (7px);
            object-fit: cover;
            object-position: left;
        }

        .skeleton {
            position: absolute;
            border-radius: rem(12px);
        }

        &.upload {
            display: flex;
            background-color: #4b4747;
            justify-content: center;
            align-items: center;
            padding-left: rem(2px);
        }
    }

    .scroll {
        display: flex;
        width: 100%;
        max-height: rem(197px);
        background: rgba(0, 0, 0, 0.3882352941);
        flex-wrap: wrap;
        border-radius: rem(9px);
        padding: rem(10px 0px 10px 10px);
    }
}

.buttonBgMobile {
    position: absolute;
    width: rem(34px);
    height: rem(34px);
    right: rem(20px);
    top: rem(16px);
    padding: rem(4px);

    .deviceButton {
        width: rem(26px);
        height: rem(26px);
    }
}