@import "../../../styles/variables";
@import "../../../styles/rem";

.commonOpenPanel {
    position: absolute;
    padding: rem(20px);
    opacity: 1;
    width: 270px;
    right: 20px;
    top: 4%;

    .headers {
        padding-left: 10px;
    }

    .closeIcon {
        cursor: pointer;
    }

    .barge {
        margin-left: 10px;
        margin-top: 5px;
        background-color: black;
        border-radius: 20px;
        padding: 2px 10px;
        height: 22px;
        cursor: pointer;

        &.active {
            background-color: $primary-white;
        }

        .button {
            text-transform: unset;
            font-weight: bold;
            margin-left: 3px;
        }

    }

    .container {
        width: 63px;
        height: 63px;
        background-color: #FFFFFF;
        margin: 4px;
        border-radius: 10px;
        position: relative;
        border: 2px solid #807e7e;


        &:hover {
            border: 2px solid $light-white;
        }

        &.active {
            border: 3px solid #71abe6;
        }

        .image {
            border-radius: 7px;
            object-fit: cover;
            object-position: left;
        }

        .skeleton {
            position: absolute;
            border-radius: 12px;
        }
    }

    .scroll {
        display: flex;
        width: 100%;
        max-height: 223px;
        background: rgba(0, 0, 0, 0.3882352941);
        flex-wrap: wrap;
        border-radius: 9px;
        padding: 5px 0px 5px 5px;
    }
}