@import "../../../styles/rem";
@import "../../../styles/mixins";
@import "../../../styles/variables";

.content {
  padding: rem(40px);
  display: flex;
  justify-content: center;
  align-items: center;

  .innerWrapper {
    margin-top: 10px;
  }

  .title {
    width: 100%;
    @extend %text-ellips;
    white-space: initial;
    margin-bottom: 10px;
  }

  .description {
    margin: 30px;
    display: flex;
    align-items: center;

    svg {
      color: #FF884E;
      cursor: pointer;

      &:hover {
        color: #EE6F32;
      }
    }
  }

  .wrapper {
    width: 450px;
    height: fit-content;
    margin: 30px 0px;
  }

  .buttonsWrapper {
    width: 450px;
    margin: rem(20px 0 0 0);

    .button {
      &:first-child {
        margin: rem(0 10px 0 0);
      }
    }
  }

  .loader {
    margin: auto;
  }

  .linkText {
    @extend %text-ellips;
  }

  .linkWrapper {
    background: $light-gray-scale;
    border: 1px solid rgba($normal-gray-scale, 0.6);
    border-radius: rem(10px);
    padding: rem(12px 10px);
    width: 75%;
    height: fit-content;
  }

  .copyBtn {
    width: 20%;
    height: fit-content;
  }

  .downloadBtn {
    background-color: #FF884E;
    color: white;

    &:hover {
      background-color: #EE6F32;
    }
  }

  @media screen and (max-width: 590px) {
    .content {
      padding: rem(20px);
    }

    .wrapper {
      width: 100%;
    }

    .buttonsWrapper {
      width: 100%;
    }
  }
}