@import "../../styles/rem";

.meetingNotifications {
  position: absolute;
  bottom: rem(20px);
  left: 50%;
  transform: translateX(-50%);
}

.snackbar {
  bottom: rem(100px);

  @media (min-width: rem(600px)) {
    bottom: rem(100px);
  }
}