@import "src/styles/rem";
@import "src/styles/variables";

.wrapper {
  width: 100%;
  height: 100%;
}

.paper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: rem(32px);
  max-width: rem(610px);
  width: 100%;
}

.policiesLink {
  color: $primary-white;
  margin: rem(24px 0 0 0);

  a {
    color: inherit;
  }
}

.buttonsGroup {
  position: absolute;
  bottom: rem(28px);
  left: 50%;
  transform: translate(-50%);

  .button {
    max-width: rem(113px);
    width: 100%;
  }

  .actionButton {
    width: rem(50px);
    height: rem(50px);
    border-radius: rem(12px);
    .icon {
      transform: scaleX(-1);
    }
  }
}
