@import "src/styles/variables";
@import "src/styles/rem";

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.controlPanel {
  width: 100%;
  position: absolute;
  top: 0;
  padding: rem(28px 28px 0 28px);

  .navigationPaper {
    max-width: rem(591px);
    width: 100%;
  }

  .navigationPaper:after {
    background-color: #333333;
  }

  .closeButton {
    background-color: #333333;
    width: rem(46px);
    height: rem(46px);
  }

  .iconPlaceholder {
    width: rem(56px);
    height: rem(56px);
    background-color: $primary-white;
    border-radius: 50%;
    box-shadow: rem(0 12px 24px -4px) color($primary-black, 0.24);
  }

  .mainInfo {
    padding: rem(7px 12px);
    background-color: #333333;
    .name {
      word-break: break-word;
    }
    .type {
      color: rgba($primary-white, 0.6);
    }
    .privacyIcon {
      color: rgba($primary-white, 0.6);
    }
  }
}

.mobileNavigationBar {
  position: absolute;
  top: 110px;
  left: 50%;
  transform: translate(-50%, 0%);
}

.mobileNavigationBar:after {
  background: #333333;
}
